.login-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}
.login-admin .image-admin {
    width: 200px;
    position: relative;
    left: 7px;
}

.admin textarea {
    overflow: hidden;
    resize: none;
}

.login-admin .contac-desarrollator {
    width: 100%;
    text-align: right;
    padding: 10px;
}

.login-admin .contac-desarrollator a {
    text-decoration: revert;
    color: gray;
}

.login-admin input {
    width: 250px;
    height: 30px;
    margin: 10px;
    padding: 8px;
}

.login-admin button {
    border: 1px solid lightblue;

    background: snow;

    border-radius: 5px;

    padding: 5px 20px;

    font-weight: bold;

    letter-spacing: 2px;
}

/* Estilos de vista ADMIN */

.admin .button-add {
    width: fit-content;
    margin: 10px auto;
    background-color: lightgreen;
    border: 2px solid green;
}
.admin .button-add a {
    width: 100%;
    padding: 10px;
}

.admin .description-cell {
    overflow-wrap: anywhere;
    font-size: 0.7rem;
}

.admin .left-row {
    color: white;
    padding: 5px;
    background-color: gray;
    box-shadow: 0 0 3px lightgray;
    width: fit-content;
    font-size: 2rem;
    margin: 10px;
}

.admin h2 {
    text-shadow: 0 0 3px gray, -1px -1px 3px black, -2px -2px 6px black;
    color: var(--fondo-claro);
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.admin .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.admin .icon-right-table {
    font-size: 1.5rem;
    display: inline-block;
    opacity: 0;
    animation: titilar 1s ease infinite alternate;
}
.admin .icon-touch {
    font-size: 2rem;
    display: inline-block;
}
.admin .inputRows {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.admin .table-container {
    overflow: scroll;
    width: 80%;
    margin: 0 auto;
    text-align: right;
}
.admin table {
    font-size: 1rem;
}
.admin .button-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.admin th,
.admin td {
    margin: 10px;
    text-align: center;
    padding: 5px;
    background-color: whitesmoke;
    empty-cells: hide;
}

.admin .icons-guie-scroll {
    width: 100%;
    position: sticky;
    left: 0;
}

@keyframes titilar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.admin input,
.admin select,
.admin button,
.admin .input,
.admin textarea {
    margin: 5px;
    height: 40px;
    font-size: 1rem;
    color: gray;
    background-color: var(--fondo-claro);
    outline: none;
    padding-left: 10px;
    border: none;
    width: 100%;
}

.admin .container-addOption{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    width: 80%;
}
.admin .icon-addColor{
    font-size: 1.5rem;
    color: var(--bordes_claro);
    background-color: black;
    padding: 2px;
}
.admin .input-addOption{font-size: 0.7rem;flex-grow: 0.8;}

.admin textarea {
    height: 120px;
}
.admin .input {
    padding: 0;
    margin: 10px auto;
    background-color: white;
}
.admin .label-input-admin{
    
align-self: flex-start;
}
.admin input:focus,
.admin select:focus {
    color: black;
    border: 1px solid var(--shadows);
    background-color: white;
}

.admin .error-validator{
    
color: red;
    
align-self: flex-start;
    
background-color: whitesmoke;
    
width: 100%;
    
font-weight: bold;
    
letter-spacing: 3px;
    
text-align: center;
    
margin: auto;
}

.admin input::placeholder,
.admin select::selection {
    padding-left: 5px;
    background-color: var(--fondo-claro);
    width: 100%;
}

.admin .edit {
    color: blue;
    border: 1px solid blue;
    box-shadow: inset 0 0 19px lightblue;
    transition: all 2s ease;
    width: 50px;
}

.admin .edit:hover {
    color: white;
    border: 0.5px solid black;
    background: blue;
    box-shadow: inset 0 0 19px blue;
    transform: scale(1.2);
}

.admin .prev-img {
    width: 120px;
    height: 120px;
    border: 1px solid gray;
}
.admin button.delete {
    color: red;
    border-color: red;
    box-shadow: inset 1px 1px 10px lightpink;
    transition: all 1s ease;
    width: 50px;
    cursor: pointer;
}
.admin button.delete:hover {
    color: white;
    border: 0.5px solid black;
    background: red;
    box-shadow: inset 0 0 19px red;
}

.admin button {
    width: 50%;
    align-self: flex-end;
    padding: 0;
    background-color: white;
    color: green;
    border-radius: 5px;
    border: 2px solid green;
    box-shadow: inset 0 0 29px lightgreen;
    transition: transform 1s ease;
    font-size: 1.5rem;
}

.admin button.btn-add:active {
    color: white;
    background-color: green;
    box-shadow: inset 0 0 10px 4px;
}
.admin button.btn-reset:active {
    color: white;
    background-color: red;
    box-shadow: inset 0 0 10px 4px white;
}

.admin button.btn-reset {
    color: black;
    font-size: 1.5rem;
    border-color: red;
    box-shadow: inset 0 0 29px lightpink;
}

.admin .subir {
    padding: 5px 10px;
    background: #97f797;
    border: 1px solid #000;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    color: black;
    box-shadow: inset 0 0 10px green;
    transition: background 2s ease, border-radius 3s ease;
}

.admin .subir:hover {
    color: #fff;
    background: green;
    border-radius: 0 0 20px 5px;
}

@media screen and (min-width: 768px) {
   
    .login-admin .contac-desarrollator {
        width: 30%;
    }

    .admin h2 {
        text-shadow: 0 0 3px gray, -1px -1px 3px black, -2px -2px 6px black;
        color: var(--fondo-claro);
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .admin .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;
    }

    .admin .inputRows {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 60%;
    }

    .admin .container-addOption{
        
justify-content: flex-end;
    }

    .admin .button-add {
        margin: 10px 20px;
    }

    .admin th,
    .admin td {
        margin: 0 10px;
        text-align: center;
    }

    .admin td img {
        object-fit: contain;
    }

    .admin td .img-value {
        height: 130px;
        object-fit: contain;
    }

    .admin input,
    .admin select,
    .admin button,
    .admin .input {
        height: 50px;
    }
    .admin .input {
        padding: 0;
        margin: 10px 5px;
    }

    .admin button {
        width: 15%;
        padding: 0;
        font-size: 2rem;
        position: relative;
    }

    .admin button.delete {
        width: 50px;
    }

    .admin .subir {
        width: 100px;
        text-align: center;
        border-radius: 5px;
    }

    .admin .subir:hover {
        color: #fff;
        background: green;
    }
}

@media screen and (min-width: 1024px) {
    .admin button.btn-add:hover {
        color: white;
        background-color: green;
        box-shadow: inset 0 0 10px 4px;
    }
    .admin button.btn-reset:hover {
        transform: scale(1.2);
        color: black;
        background-color: red;
        box-shadow: inset 0 0 10px 4px white;
    }
    .admin .icons-guie-scroll {
        display: none;
    }
    /* Estilos de vista ADMIN */

    .admin {
        padding: 20px;
        position: relative;
    }

    .admin textarea {
        margin: 0 auto;
    }

    .admin h2 {
        text-shadow: 0 0 3px gray, -1px -1px 3px black, -2px -2px 6px black;
        color: var(--fondo-claro);
        font-size: 3rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .admin .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .admin .inputRows {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px auto;
        width: 40%;
    }

    .admin .table-container {
        width: 100%;
        margin: 0 auto;
    }
    .admin table {
        width: 100%;
        font-size: 1.2rem;
        margin: 0 auto;
    }

    .admin input,
    .admin select,
    .admin button,
    .admin .input {
        height: 30px;
        align-self: center;
        margin: 2px;
        font-size: 1rem;
    }
    .admin .input {
        padding: 0;
        margin: 10px auto;
        background-color: white;
        width: 50%;
    }

    .admin .container-addOption{
    width: 80%;
    align-self: center;
    justify-content: center;
}
    .admin .edit {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .admin .edit:hover {
        transform: scale(1.1);
    }

    .admin button.delete {
        color: red;
        border-color: red;
        box-shadow: inset 1px 1px 10px lightpink;
        transition: all 2s ease;
        width: 50px;
        height: 50px;
    }

    .admin button.btn-reset {
        font-size: 1rem;
        height: 30px;
    }

    .admin .subir:hover {
        color: #fff;
        background: green;
        border-radius: 0 0 20px 5px;
    }
}
