.form-contact-container {
  min-width: 320px;
  height: fit-content;
}

.form-contact-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.form-contact-container .form-item {
  display: flex;
  flex-direction: column;
}


.form-contact-container input,
.form-contact-container select {
  height: 30px;
  margin: 3px 0;
  background-color: var(--fondo-claro);
  border-color: gray;
  outline: none;
  padding-left: 10px;
  border: none;
}

.form-contact-container input:focus,
.form-contact-container select:focus {
  border: 1px solid var(--shadows);
  background-color: #fff;
}

.form-contact-container select:focus option {
  background-color: #ffe6e9;
}

.form-contact-container .case-input {
  background-color: #fff;
  border: 3px solid var(--fondo-claro);
  font-size: 1.2rem;
}

.form-contact-container .case-input {
  font-size: 1.2rem;
  padding-left: 10px;
}

.form-contact-container textarea {
  padding: 10px;
  border-color: var(--fondo-claro);
  font-size: 1.2rem;
  resize: none;
}

.form-contact-container textarea::placeholder {
  font-size: 1rem;
  padding: 5px 0 0 10px;
  background-color: var(--fondo-claro);
  margin: auto 0;
}

.form-contact-container textarea:focus {
  outline: none;
  border: 1px solid var(--shadows);
}

.form-contact-container .btn-send {
  background-color: white;
  box-shadow: inset -2px -2px 3px var(--shadows),inset 2px 2px 6px var(--fondo);
  border-radius: 20px;
  width: 50%;
  align-self: flex-end;
  padding: 0;
}

.form-contact-container .btn-send:hover {
  box-shadow: inset -2px -2px 6px black,inset 4px 4px 2px white;
  background-color: var(--fondo);
  
}

.form-contact-container .captcha-contain {
  width: 100%;
  height: 90px;
  background-image: url("/img/captcha.png");
  background-size: 276px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.form-contact-container .captcha-contain input {
  position: absolute;
  width: 26px;
  left: 14px;
  bottom: 29px;
  background-color: var(--fondo-claro);
}

@media screen and (min-width: 768px) {
  .form-contact-container {
    min-width: 768px;
    height: fit-content;
  }

  .form-contact-container form {
    display: grid;
    grid: auto / 2fr 2fr;
  }

  .form-contact-container .captcha-contain input {
    left: 55px;
  }

  .form-contact-container .btn-send {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .form-contact-container form {
    /* grid: auto / 2fr 2fr 2fr; */
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
  }

  .form-contact-container .captcha-contain {
    background-size: 257px;
}

  .form-contact-container .captcha-contain input {
    left: 14px;
    width: 24px;
    bottom: 28px;
  }
  
}
