.whatsapp {
    z-index   : 800;
    display   : flex;
    position  : fixed;
    right: 25px;
    bottom: 72px;
    font-size: 3rem;
    margin    : auto;
    grid-area : whatsapp;
    transition: filter 1s ease,transform 0.5s ease;
    opacity: 0.8;
}

.whatsapp:hover {
    transform: scale(1.2);
    filter   : drop-shadow(0px 0px 3px black);
    opacity: 1;
}

.whatsapp:active {
    opacity: 1;
    animation: vibracionWhatsapp 10ms 4;
}

@media screen and (min-width: 768px) {
    .whatsapp {
        font-size: 4rem;
        right: 25px;
        bottom: 34px;
    }
}
@media screen and (min-width: 1024px) {
    .whatsapp {
        bottom: 35px;
        right: 20px;
        font-size: 4.75rem;
    }
}

.footer {
    padding: 10px;
    width: 100%;
    font-family: var(--poppins);
    box-shadow : 0px -4px 10px var(--bordes_claro);
    display    : grid;
    display    : -ms-grid;
    display    : -moz-grid;
    grid-template-areas:
        "ayuda    ayuda ayuda ayuda    "
        "contacto contacto  contacto contacto   "
        "nosotros     nosotros  nosotros  nosotros    "
        "redes    redes     redes     redes "
        ". copy   copy     afip "
        ". copy copy  . ";
    margin-top: 15px;
}

.footer .footer-sections {
    margin: auto;
}

.footer .footer-sections .footer-subtitle {
    cursor: pointer;
    border: 1px solid var(--fondo);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 2s ease;
    width: 60vw;
    margin: 5px;
    padding: 5px 10px;
    box-shadow: 4px 4px 10px var(--shadows);
}

.footer .footer-sections .footer-subtitle h3{
    width: 100%;
}

.footer .footer-sections .footer-subtitle:hover {
    cursor          : pointer;
    background-color: var(--fondo);
}

.footer .help {
    grid-area: ayuda;
    position : relative;
}

.footer .help ul,
.footer .contact ul,
.footer .about ul {
    display: none;
    position        : absolute;
    background-color: white;
    z-index         : 100;
    margin          : 0 auto;
    font-size: 0.9rem;
    font-weight: bold;
    width: 100%;
    padding: 0 12px;
    border-radius   : 5px;
    box-shadow      : 1px 1px 4px var(--shadows);
}

.footer .help .list-help {
    bottom: 0;
}

.footer .contact .list-contact {
    bottom: 0;
}

.footer .about .list-about {
    bottom: 0;
}

.footer-sections-desktop{
    display: none;
}

.footer .help .list-help li,
.footer .contact .list-contact li,
.footer .about .list-about li {
    padding: 20px;
}


.footer .contact {
    grid-area: contacto;
    position : relative;
}

.footer .about {
    grid-area: nosotros;
    position : relative;
}

.footer .redes-sociales {
    width          : 120px;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    grid-area      : redes;
}

.footer .redes-sociales .iconify {
    font-size : 40px;
    transition: color 1s ease;
}

.footer .redes-sociales .instagram:hover {
    color: orange;
}

.footer .redes-sociales .facebook:hover {
    color: blue;
}

.footer .legale {
    grid-area : copy;
    text-align: center;
    font-size : 1rem;
    align-self: center;
}

.footer .otros {
    grid-area: afip;
}

.footer .otros .antivirus {
    width  : 100px;
    display: none;
}

.footer .otros .afip {
    width: 50px;
}

@media screen and (min-width:768px) {
    .footer {
        margin: auto;
        grid-template-areas:
            " . ayuda     contacto nosotros       .       "
            " redes redes .               afip     afip   "
            "copy  copy  copy     copy     copy        ";
        width: 100%;
    }


    .footer .otros .antivirus {
        display: inline-block;
    }

    .footer .footer-sections .footer-subtitle {
        border-radius: 5px;
        border-color : lightgray;
        width: 200px;
    }

    .footer .help .list-help li,
.footer .contact .list-contact li,
.footer .about .list-about li {
    font-size: 5rem;
}

.footer .legale {
    font-size : 1.5rem;
}
}

@media screen and (min-width:1024px) {
    .footer .help ul,
    .footer .contact ul,
    .footer .about ul {
        display: block;
        position: relative;
        width        : fit-content;
        padding      : 5px;
        border-radius: none;
        box-shadow   : none;
        text-align: left;
        margin: 0;
        font-size: 1rem;
    }

    .footer {
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        grid-template-areas:
            "ayuda    ayuda ayuda contacto  contacto contacto  nosotros  nosotros   nosotros    "
            ".    .     .     redes     redes    redes      afip       afip . "
            ".    .     copy  copy      copy     copy      copy      .          .    ";
    }

    .footer .footer-sections {
       display: none;
    }

    .footer .footer-sections-desktop{
        display: block;
        margin: 0 auto;
    }

    .footer .footer-sections-desktop .footer-subtitle {
        border         : none;
        justify-content: center;
        padding        : 0 0 10px 0;
    }

    .footer .footer-sections-desktop .footer-subtitle:hover {
        cursor          : initial;
        background-color: white;
    }

    .footer .footer-sections-desktop .footer-subtitle .icon {
        display: none;
    }

    .footer .footer-sections-desktop .enlace-hover :hover {
        text-shadow: 1px 1px 4px black, -1px -1px 4px black;
        color      : var(--fondo);
        font-weight: bold;
        transition : all 0.5s ease;
    }

    .footer-sections-desktop .footer-sections-desktop .redes-sociales{
      margin: auto;
    }
    
    .footer .otros {
        display    : flex;
        align-items: center;
        gap        : 10px;
    }
}