@import url('ayuda.css');
@import url('favoritos.css');
@import url('index.css');
@import url('listProducts.css');
@import url('login.css');
@import url('nosotros.css');
@import url('productCart.css');
@import url('productDetail.css');
@import url('register.css');
@import url('variables.css');
@import url('clasesReutilizables.css');
@import url('animaciones.css');
@import url('header.css');
@import url('footer.css');
@import url('contact.css');
@import url('admin.css');
@import url('slider.css');



/* Google Font  */
/*----------- Poppins --------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,600&display=swap');

/* Yesteryear */
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

/* Slabo */
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');


* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color          : black;
    display: inline-block;
}

li {
    list-style: none;
}

.validationError {
    position   : absolute;
    color      : red;
    line-height: 18px;
    font-size  : 13px;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main{
    width: 100vw;
    height:500px ;
    flex-grow: 1;
}

img{width: 100%;height: 100%;}

body{width: 100vw;margin: 0 auto;}