.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    background-color: snow;
    overflow-x: hidden;
    transition: width 1s ease, opacity 3s ease;
    padding-top: 60px;
    box-shadow: inset -10px 5px 30px var(--bordes);
}

.sidenav a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
    /* text-shadow: 4px 4px 2px grey; */
    display: block;
    transition: 2s;
    width: fit-content;
}

.sidenav a:hover {
    color: lightblue;
    text-decoration: underline;
    letter-spacing: 1px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}

@media screen and (max-height: 320px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* MENU BURGER ANIMADO */

.header .container {
    display: inline-block;
    cursor: pointer;
}
.header:hover {
    opacity: 1;
}

.header .user-desktop {
    display: none;
}

.header .bar1,
.header .bar2,
.header .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 10px 0;
    transition: transform 0.8s ease;
}

.header .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-13px, 12px);
    background-color: var(--bordes);
    /* border: 1px solid black; */
}

.header .change .bar2 {
    opacity: 0;
}

.header .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
    background-color: var(--bordes);
    /* border: 1px solid black; */
}

/* View Mobile of Header */

.header {
    position: sticky;
    top: 0;
    opacity: 0.9;
    font-family: var(--poppins);
    display: grid;
    grid: 2fr 1fr / repeat(5, 1fr);
    grid-template-areas:
        "menu     carrito     logo   user lupa"
        "buscador buscador buscador buscador  buscador";
    border-bottom: 8px double var(--bordes_claro);
    /* margin-bottom: 10px; */
    z-index: 999;
    width: 100%;
    padding: 5px;
    background-color: white;
}

.header .sidenav a:active {
    color: lightblue;

    text-decoration: underline;

    letter-spacing: 1px;
}

.header .navbar-mobile {
    display: none;
    position: absolute;
    top: 24vw;
    left: 6vw;
    border-radius: 15px;
    border-left: 10px solid var(--bordes);
    padding: 15px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 300;
    border-bottom: 2px solid var(--bordes);
    border-top: 2px solid var(--bordes);
}

.header .navbar-mobile ul {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    width: fit-content;
    width: 100%;
}

.header .navbar-mobile ul .btn {
    display: flex;
    justify-content: space-between;
}

.header .navbar-mobile ul .btn a {
    width: fit-content;
    position: relative;
    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    margin: 3px;
    padding: 10px 10px 10px 30px;
    box-shadow: -10px 0px 4px var(--bordes);
    border: 1px solid var(--bordes);
    font-weight: bold;
}

.header .navbar-mobile ul .btn a::before {
    content: "";
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    border-radius: 20px;
}

.header .navbar-mobile ul .btn .b1::before {
    animation: moveLink 2s infinite alternate;
}
.header .navbar-mobile ul .btn .b2::before {
    animation: moveLink 1.1s infinite alternate;
}
.header .navbar-mobile ul .btn .b3::before {
    animation: moveLink 1.2s infinite alternate;
}
.header .navbar-mobile ul .btn .b4::before {
    animation: moveLink 2s infinite alternate;
}
/* tamaño general de iconos en view mobile */

.header .logo {
    grid-area: logo;
    width: 80px;
    margin: auto;
}

.header .menu {
    grid-area: menu;
}

.header .lupa {
    grid-area: lupa;
    transition: color 1s ease-in;
}

.header .change .lupa {
    transform: scale(1.2);
    background-color: var(--bordes);
    border: 1px solid black;
}

.header .estrella {
    display: none;
    grid-area: estrella;
}

.header .carrito {
    grid-area: carrito;
    display: none;
}

.header .usuario {
    grid-area: user;
    font-size: 3.2rem;
    text-align: right;
    margin-right: 27px;
}

.header .navbar {
    display: none;
}

.header .search-bar {
    grid-area: buscador;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 0vw;
    opacity: 0;
    margin: auto;
    border: 2px solid var(--bordes);
    border-radius: 20px;
    padding: 0 10px 0 20px;
    transition: width 1s ease,opacity 500ms ease-in;
    box-shadow: -10px 0px 4px var(--bordes);
    background-color: white;
    z-index: 300;
}

.iconLupaBar {
    text-shadow: -10px 0px 4px var(--bordes);
}
/* ///////////////////////////////////////////// */
/* Solo para la barra de búsqueda */
@keyframes searchBar {
    0% {
        width: 20%;
    }
    100% {
        width: 80%;
    }
}

.header .search-bar:hover {
    box-shadow: 0 0 15px var(--shadows);
    border-color: var(--bordes_claro);
    cursor: text;
}

.header .search-bar input {
    width: 100%;
    border: none;
    font-size: 1.5rem;
}

.header .search-bar button {
    width: 30px;
    height: 30px;
    margin: auto;
    border: none;
    background-color: white;
    font-size: 30px;
}

/* Mediaquery TABLET */

@media screen and (min-width: 768px) {
    /* menu burger */
    .header .bar1,
    .header .bar2,
    .header .bar3 {
        width: 72px;
        height: 7px;
        margin: 15px 0;
    }

    .header .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 18px);
    }

    .header .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-14px, -21px);
    }

    /* fin menu burger */

    .header .logo {
        width: 200px;
        margin: auto;
    }
    .header .search-bar {
        height: 70px;
        width: 80vw;
    }

    .header .navbar-mobile {
        transform: scale(1.5);
        top: 34vw;
        left: 11vw;
    }

    .header .search-bar input {
        font-size: 2.5rem;
    }

    .header .search-bar button {
        transform: scale(1.4);
    }
}

/* Mediaquery DESKTOP */

@media screen and (min-width: 1024px) {
    .header {
        width: 100vw;
        height: 110px;
        grid: 1fr 0.5fr / repeat(12, 1fr);
        grid-template-areas:
            "logo logo buscador buscador buscador buscador buscador buscador buscador carrito estrella user"
            "logo logo menu menu menu menu menu menu menu menu . .";
    }

    .header .menu {
        display: none;
    }

    .header .user-desktop {
        display: flex;
        font-size: 2.2rem;
    }

    .header .sidenav {
        display: none !important;
    }

    .header .navbar {
        display: grid;
        grid-area: menu;
    }

    .header .navbar-mobile {
        display: none !important;
    }

    .header .estrella {
        display: none;
    }

    .header .navbar ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .header .navbar ul li {
        width: 15vw;
        height: 30px;
        padding: 5px;
    }

    .header .logo {
        margin: auto 0;
        width: 100px;
        height: 100px;
    }

    .header .lupa {
        display: none;
    }

    .header .search-bar {
        width: 78% !important;
        opacity: 1 !important;
        transition: none !important;
        height: 56%;
        /* animation: none; */
    }

    /* Estilos de botones del header */

    .header .btn {
        text-align: center;
        position: relative;
        transition: transform 0.7s ease-in-out;
    }

    .header .btn:hover {
        transform: scale(1.3);
    }

    .header .btn::after {
        content: "";
        width: 0;
        height: 5px;
        position: absolute;
        background-color: var(--bordes_claro);
        box-shadow: 5px 5px 3px lightgray;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all 1s ease-in-out;
        z-index: -1;
    }

    .header .btn:hover::after {
        width: 70%;
    }
    .header .search-bar button {
        transform: none;
        height: 100%;
    }
    .header .search-bar input {
        font-size: 100%;
    }
    .menu_desplegable {
        display: none;
        position: absolute;
        top: 32px;
        left: 10px;
        font-size: 1.6vw;
        background-color: rgba(234, 137, 154, 0.6);
        border-radius: 8px;
        width: 13vw;
        height: 10vw;
        transition: all 1.5ms;
    }
    .desplegable {
        display: flex;
        flex-direction: column;
        width: 13vw;
        height: 10vw;
    }
}
