/* -------------------------- */
/* MODO NOCHE */
/* -------------------------- */
.header.dark {
  background-color: rgb(61, 56, 56);
  color: #fff;
  transition: 0.5s all ease;
  /* display: none; */
}
.header .user-desktop.dark {
  color: #fff;
  filter: drop-shadow(1px 1px 3px white);
}
.header .iconLupaBar.dark {
  filter: drop-shadow(1px 1px 2px black);
}
.header .menu-user a.dark {
  color: #d3d3d3;
}
.header .carrito a.dark {filter: drop-shadow(0px 0px 2px white);}
.header .menu-user a.dark:hover {
  color: #fff;
}
.header .navbar ul li a.dark {
  color: #fff;
}
.header .navbar ul li:hover a.dark {
  color: #fff;
}
.header .search-bar button.dark {
  color: #fff;
}
.header .search-bar input.dark {
  color: #000;
}
.header .search-bar input.dark::selection {
  color: #d3d3d3;
  background: transparent;
}
.header .sidenav.dark {
  background-color: rgb(61, 56, 56);

  box-shadow: inset -10px 5px 90px black;
}

.header .sidenav a.dark {
  color: white;
}

/* DARK MODE end */

/* Hamburger Menu */
.McButton {
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-left: -22px; */
  margin-top: -14px;
  width: 25px;
  height: 19px;
  cursor: pointer;
}
.McButton b {
  position: absolute;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: black;
}
.McButton b:nth-child(1) {
  top: 0;
}
.McButton b:nth-child(2) {
  top: 50%;
}
.McButton b:nth-child(3) {
  top: 100%;
}
/* End McButton */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1500;
  top: 0;
  opacity: 0;
  left: 0;
  overflow: auto;
  background-color: snow;
  transition: width 0.7s ease, opacity 1s ease;
  padding-top: 50px;
  box-shadow: inset -22px -13px 40px rgb(219 177 209 / 53%);
}

/* TRANSLATE GOOGLE STYLE */
.translateSelect {
  grid-area: translate;
  display: flex;
  justify-content: end;
  align-items: center;
  bottom: 0;
  left: 0;
}

.translateSelect.disable {
  display: none;
}

.selectTranslate {
  grid-area: translate;
  display: none;
}
.selectTranslate * {
  width: 100% !important;
}
.selectTranslate.active {
  display: block;
  z-index: 1700 !important;
  position: absolute;
  bottom: -46px;
  left: 0;
  padding: 0 17px;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
}

.work {
  font-size: 1.2rem;
  margin: 0;
}

.goog-te-banner-frame {
  display: none;
}
.goog-te-gadget {
  position: relative;
}

.goog-te-gadget-simple {
  height: 30px;
  width: 100%;
  margin: 10px auto;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  border: none !important;
  border-bottom: 2px solid black !important;
}

.goog-te-menu-value img {
  display: none;
}

/* END GOOGLE TRANSLATE STYLE */

.sidenav a {
  padding: 8px 8px 8px 15px;
  text-decoration: none;
  color: black;
  display: block;
  /* cursor: pointer; */
  width: fit-content;
}

.navOut {
  position: absolute;
  top: 0;
  background-color: rgb(219 177 209 / 53%);
  right: 0;
  left: 0;
  height: 0;
  width: 0;
  bottom: 0;
  z-index: 1300;
}

.sidenav a:hover {
  color: var(--bordes_claro);
  filter: drop-shadow(2px 4px 2px);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

@media screen and (max-height: 320px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.header .container {
  display: inline-block;
  cursor: pointer;
}
.header:hover {
  opacity: 1;
}

.header .carritoHeader {
  position: absolute;
  top: 100%;
  right: 0;
  width: 0px;
  cursor: unset;
  height: 500px;
  opacity: 0;
  font-size: 1rem;
  background-color: white;
  scroll-behavior: smooth;
  overscroll-behavior-block: none;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 10px 0;
  transition: width 8s ,opacity .5s ease;
}
.header .carritoHeader.dark {
  background-color: rgb(61, 56, 56);
}
.header .carritoHeader.active {width: 320px;border-left: 3px solid var(--fondo-claro);border-bottom: 3px solid var(--fondo-claro);transition: opacity .6s ease-in;opacity: 1;}
header .listaCarritoHeader {
  width: 100%;
  transition:1s;
  padding: 7px;
}

.listaCarritoHeader tr {
  justify-content: space-between;
}
.listaCarritoHeader img {
  width: 50px;
  height: 80px;
  object-fit: cover;
  border: 1px solid;
}

.header .user-desktop {
  display: none;
}

.header .menu-mobile {
  display: flex;
  flex-wrap: wrap;
  background-color: darkgray;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.header .menu-mobile a {
  font-weight: bold;

  letter-spacing: 2px;
}
.header .avatarHeader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.header .avatarHeader img {
  border-radius: 50%;
}

.header .bar1,
.header .bar2,
.header .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 10px 0;
  transition: transform 0.8s ease;
}

.header .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-13px, 12px);
  background-color: var(--bordes);
}

.header .change .bar2 {
  opacity: 0;
}

.header .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-9px, -8px);
  background-color: var(--bordes);
}

.header .menu-user {
  display: none;
}

.header span.count {
  border-radius: 50%;
  border: none;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 0;
  left: 18px;
  font-size: 0.8rem;
  color: white;
}

.darkMode {
  grid-area: dark;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
/* View Mobile of Header */
.header {
  position: sticky;
  top: 0;
  opacity: 0.9;
  font-family: var(--poppins);
  display: grid;
  grid: 1fr 0.5fr 1fr / repeat(5, 1fr);
  grid-template-areas:
    "menu     .     logo   . lupa "
    ".       .      logo  . cart "
    "buscador buscador buscador translate dark";
  border-bottom: 3px solid var(--fondo-claro);
  margin-bottom: 12px;
  z-index: 100;
  width: 100vw;
  /* padding: 5px; */
  background-color: #fff;
}

.header .sidenav a:active {
  color: lightblue;
}

.header .navbar-mobile {
  display: none;
  position: absolute;
  top: 24vw;
  left: 6vw;
  border-radius: 15px;
  border-left: 10px solid var(--bordes);
  padding: 15px;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 300;
  border-bottom: 2px solid var(--bordes);
  border-top: 2px solid var(--bordes);
}

.header .navbar-mobile ul {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  width: fit-content;
  width: 100%;
}

.header .navbar-mobile ul .btn {
  display: flex;
  justify-content: space-between;
}

.header .navbar-mobile ul .btn a {
  width: fit-content;
  position: relative;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  margin: 3px;
  padding: 10px 10px 10px 30px;
  box-shadow: -10px 0px 4px var(--bordes);
  border: 1px solid var(--bordes);
  font-weight: bold;
}

.header .navbar-mobile ul .btn a::before {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: 20px;
}

.header .navbar-mobile ul .btn .b1::before {
  animation: moveLink 2s infinite alternate;
}
.header .navbar-mobile ul .btn .b2::before {
  animation: moveLink 1.1s infinite alternate;
}
.header .navbar-mobile ul .btn .b3::before {
  animation: moveLink 1.2s infinite alternate;
}
.header .navbar-mobile ul .btn .b4::before {
  animation: moveLink 2s infinite alternate;
}

.header .logo {
  grid-area: logo;
  margin: auto;
  width: 70px;
  height: 70px;
  box-shadow: 0 0 30px #fff;
  background-color: #fff;
  border-radius: 50%;
}

.header .menu {
  grid-area: menu;
  filter: drop-shadow(0 0 2px white);
}

.header .lupa {
  grid-area: lupa;
  transition: color 1s ease-in;
  z-index: 1400;
  filter: drop-shadow(0 0 3px white);
}

.header .change .lupa {
  transform: scale(1.2);
  background-color: var(--bordes);
  border: 1px solid black;
}

.header .estrella {
  display: none;
  grid-area: estrella;
}

.header .carrito {
  position: relative;
  grid-area: cart;
  display: flex;
  cursor: pointer;
}
.header .carrito a {
  width: fit-content;
  font-size: 2rem;
  color: black;
  position: relative;
}
.header .carrito a:hover {
  color: var(--bordes_claro);
  filter: contrast(0.5);
}

.header .products-cart-container {
  width: 300px;
  height: fit-content;
  background-color: #fff;
  border: 1px solid black;
  position: absolute;
  bottom: -40px;
  z-index: 10000;
  transform: translateX(-50%);
  display: flex;
  justify-content: end;
}
.header .usuario {
  position: relative;
  display: flex;
  grid-area: user;
  font-size: 2.5rem;
  /* cursor: pointer; */
  text-align: right;
  margin-right: 27px;
}

.session {
  display: block;
  width: 10px;
  height: 10px;
  background: #00d900;
  border-radius: 50px;
  position: relative;
  z-index: 10;
  top: 20px;
  left: 2px;
}

.header .navbar {
  display: none;
}

.header .search-bar {
  grid-area: buscador;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 0vw;
  opacity: 0;
  margin: auto 0 auto 100px;
  border: 2px solid var(--bordes);
  border-radius: 20px;
  padding: 0 10px 0 20px;
  transition: width 1s ease, opacity 500ms ease-in;
  box-shadow: 0px 0px 10px var(--bordes);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 300;
  padding-left: 10px;
}

.header .desplegable {
  transition: 1s all;
}
.header .desplegable a {
  color: black;
}
.header .desplegable .fa-angle-right,
.header .fa-angle-down {
  color: lightblue;
  display: inline-block;
  margin-left: 10px;
}

.iconLupaBar {
  text-shadow: -10px 0px 4px var(--bordes);
}

@keyframes searchBar {
  0% {
    width: 20%;
  }
  100% {
    width: 80%;
  }
}

.header .search-bar:hover {
  box-shadow: 0 0 15px var(--shadows);
  border-color: var(--bordes_claro);
  cursor: text;
}

.header .search-bar input {
  width: 100%;
  border: none;
  font-size: 1rem;
  background-color: transparent;
}

.header .search-bar button {
  height: 30px;
  margin: auto;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header .bar1,
  .header .bar2,
  .header .bar3 {
    width: 72px;
    height: 7px;
    margin: 15px 0;
  }

  .header .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 18px);
  }

  .header .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-14px, -21px);
  }

  .header .logo {
    margin: auto;
  }
  .header .search-bar {
    height: 37px;
  }

  .header .navbar-mobile {
    transform: scale(1.5);
    top: 34vw;
    left: 11vw;
  }

  .header .search-bar input {
    font-size: 1.5rem;
    background-color: transparent;
  }

  .header .menu-user {
    font-size: 0.7rem;
  }
  .header .avatarHeader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .header .avatarHeader img {
    border-radius: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: 100vw;
    height: 110px;
    grid: 1fr 0.5fr 1fr / repeat(12, 1fr);
    grid-template-areas:
      " logo . buscador buscador buscador buscador buscador buscador . user user cart "
      " logo menu menu menu menu menu menu menu menu menu  translate dark";
    padding: 10px;
    z-index: 300;
  }
  .header .avatarHeader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .header .avatarHeader img {
    border-radius: 50%;
  }


  .header .menu {
    display: none;
  }
.header .menu-user {
  top: 0;
  
}
  .header .user-desktop {
    display: flex;
    font-size: 2.2rem;
    z-index: 3;
  }

  .header .carrito a {
    width: fit-content;
    color: black;
    position: relative;
  }
  .translateSelect {
    position: relative;
    order: 1;
    cursor: pointer;
  }

  .darkMode {
    order: 2;
  }

  .selectTranslate.active {
    left: -50%;
  }
  .header .carrito span.count {
    width: 15px;
    height: 15px;
    bottom: 0;
    left: 18px;
    font-size: 0.8rem;
    color: white;
  }

  .header .menu-user {
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    grid-area: session;
  }
  .header .sidenav {
    display: none !important;
  }

  .header .navbar {
    display: grid !important;
    grid-area: menu !important;
    justify-content: inherit;
  }

  .header .navbar-mobile {
    display: none !important;
  }

  .header .estrella {
    display: none;
  }

  .header .navbar ul {
    width: 100%;
    display: flex;
    justify-content: start;
    text-align: center;
  }

  .header .navbar ul li {
    height: 30px;
    width: 100%;
    /* padding: 5px; */
  }
  .header .menu-mobile {
    display: none;
  }
  .header .logo {
    /* margin: auto 0; */
    width: 80px;
    height: 80px;
    /* transform: none; */
    object-fit: contain;
    /* box-shadow: 0 0 20px #fff; */
    /* background-color: #fff; */
  }

  .header .lupa {
    display: none;
  }

  .session {
    top: 10px;
    left: 5px;
  }

  .header .search-bar {
    margin: 0;
    width: 100% !important;
    opacity: 1 !important;
    transition: none !important;
    height: 40px;
    display: flex !important;
    background: transparent;
    /* left: 0; */
  }

  .header .btn {
    text-align: center !important;
    position: relative !important;
    transition: transform 0.7s ease-in-out;
  }

  .header .btn::after {
    content: "";
    width: 0;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    background-color: var(--bordes_claro);
    /* box-shadow: 5px 5px 3px lightgray; */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s ease-in-out;
    z-index: -1;
  }

  .header .btn:hover::after {
    width: 60%;
  }
  .header .search-bar button {
    transform: none;
    height: 100%;
  }
  .header .search-bar input {
    font-size: 100%;
    background-color: transparent;
  }
  .menu_desplegable {
    position: absolute;
    top: 32px;
    left: 10px;
    font-size: 1.6vw;
    background-color: rgba(234, 137, 154, 0.6);
    border-radius: 8px;
    width: 13vw;
    height: fit-content;
    height: -moz-fit-content;
    transition: height 1.5ms;
  }
  .desplegable {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    height: -moz-fit-content;
  }

  .header .menu-user {
    font-size: 0.7rem;
    position: absolute;
    top: -100%;
  }
}
