.topnav {
  width: 100%;
  overflow: hidden;
  background-color: ghostwhite;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: space-between;
  padding: 8px;
  position: sticky;
  z-index: 1000;
  top: 0;
}

.topnav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  flex-grow: 1;
}

.topnav a:hover {
  background-color: var(--fondo-claro);
}

.topnav a:active {
  background-color: var(--fondo);
}

.topnav a:focus {
  background-color: var(--bordes);
  color: white;
}

.topnav .search-container form {
  display: flex;
}

.topnav .search-container {
  flex-grow: 1;
  align-self: center;
}

.topnav input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
  flex-grow: 1;
}

.topnav .search-container button {
  padding: 6px 10px;
  background: #ddd;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}