.home-inicio {
    min-width: 320px;
    width: 100%;
    margin: auto;
}

.home-inicio video {
    width: 100%;
}
.home-inicio .container-fluid {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.home-inicio .imagen1 img {
    width: 100%;
    height: 100%;
}
.home-inicio .container {
    margin: 0 auto;
}
.home-inicio .cajavideo {
    padding-bottom: 14px;
}

.container-fluid .cajaPrincipal .imagen1 {
    margin: 10px 0px;
    position: relative;
}
.container-fluid .cajaPrincipal .imagen1 h2 {
    position: absolute;
    color: white;
    font-weight: bold;
    bottom: 25%;
    background-color: rgba(234, 137, 154, 0.6);
    text-align: center;
    width: 100%;
}
.home-inicio h2 {
    text-align: center;
    color: pink;
    border-bottom: 2px solid var(--bordes_claro);
    padding-bottom: 15px;
}

.home-inicio h1 {
    text-align: center;
    border-bottom: 2px solid black;
    font-family: var(--yesteryear);
    font-size: 4rem;
    font-weight: lighter;
    filter: drop-shadow(6px 8px 2px var(--shadows));
    margin-bottom: 20px;
}

.home-inicio .container .cajavideo .video1 h2{
    position: relative;
    text-align: center;
    bottom: 205px;
    color: white;
    background-color: rgba(234, 137, 154, 0.6);
    font-weight: bold;
}

.home-inicio .marqueContainer {
    font-size: 50px;
    line-height: 180px;
    font-weight: 500;
    background: linear-gradient(150deg,rgba(253, 180, 191, 0.445), white, rgba(253, 180, 191, 0.705));
    background-size: 200% 150%;
    animation: BgGradient 5s ease infinite;
}

.home-inicio .marqueContainer .marqueTitle {
    bottom: 500px;
    padding: 250px;
    color: var(--bordes_claro);
    }

.home-inicio .marqueShipping {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 5px;
}

@media screen and (min-width: 768px) {
    .home-inicio .cajavideo {
        display: flex;
        justify-content: space-evenly;
        gap: 21px;
        width: 100%;
    }
    .home-inicio h2 {
        text-align: center;
        font-size: 30px;
        color: pink;
        border-bottom: 2px solid var(--bordes_claro);
    }
    .home-inicio .cajaPrincipal {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 30px;
    }
    .home-inicio .cajaPrincipal .imagen1 {
        width: 335px;
    }
}

@media screen and (min-width: 1024px) {
    .home-inicio h2 {
        text-align: center;
        font-size: 35px;
        color: pink;
    }

    .home-inicio .cajaPrincipal {
        justify-content: space-evenly;
        width: 100%;
    }

    .container-fluid .cajaPrincipal .imagen1 {
        display: flex;
    }
}
