.container-fluid {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.imagen1 img{
    width: 100%; 
    height: 100%;
} 
.container {
    margin: 0 auto;
    padding-left: 25px;
}
.cajavideo {
    width: 85%;
    padding-bottom: 14px;
}
.video1{
    width: 85%;
}

    
@media screen and (min-width: 768px) {
        
 
    }