.container-load{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    background-color: rgba(255,205,212,0.5);
}

.circle {
    width: 70px;
    height: 70px;
    border: 10px solid lightcyan;
    border-top: 10px solid lightblue;
    border-radius: 50%;
    animation: girar 1s infinite;
  }

  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }