/* Dark Mode */

.login .google.dark{
   
box-shadow: inset 0 0 10px 2px gray;
   
transition: all 1s ease;
}

/* Dark Mode end */


.modal {
    position: fixed;
    z-index: 10000;
    margin: 0 auto;
    top: -1000px;
    width: 100%;
    height: 100vh;
  }
.close {
    position: absolute;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: 5px;
    right: 10px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.login,.register {
    display         : flex;
    justify-content : center;
    margin: 20px auto;
    width: 100%;
}
.login .google img{
    object-fit: contain;
}
.login .google{
   padding: 6px 24px;
   border-radius: 8px;
   height: 30px;
   box-shadow: 0px 0px 5px rgb(0 0 0 / 35%);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: .8em;
   font-weight: 600;
   gap: 12px;
   color: #4D4D4D;
   background-color: white;
   transition: all .5s ease;
}



.login .card , .register .card{
    background-color: white;
    width: 320px;
    box-shadow: 0 0 10px var(--bordes);
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    gap: 10px;
    position: relative;
    z-index: 100;
    border-radius: 10px;
    background: linear-gradient(150deg,rgba(253,180,191,1), white, rgba(253,180,191,1));
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
}

.login .card__thumbnail ,.register .card__thumbnail {
    margin-top     : 40px;
    width          : 100px;
    height         : 100px;
    transform: scale(1.1);
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.login .card__logo , .register .card__logo {
    width    : 100%;
    animation: acercarAlejar 2s alternate infinite;

}

.login .card__input {
    margin: 20px 0 0 0;
    width : 70%;
    height: 6%;
}

.login .card__text {
    transition: all 750ms ease;
}

.login .card__text:hover {
    text-shadow: 1px 1px 1px black;
    color        : lightblue;
}

.login .button:hover {
    border          : 1px solid var(--shadows);
    transform       : scale(1.02);
    background-color: var(--fondo-claro);
}

.login .button--positionRegister {
    bottom  : 100px;
}

.login .button--positionIngresar {
    bottom  : 50px;
}

.login .email--absolute {
    bottom: 268px;
    left  : 50px;
}

.login .contraseña--absolute {
    bottom: 200px;
    left  : 50px;
}

.text-danger {
    color: red;
}

.login .error-validator {
    color: red;
}

@media screen and (min-width:768px) {
    .login .button--positionRegister {
        left  : 50px;
        bottom: 80px;
    }


    .login .button--positionIngresar {

        right : 50px;
        bottom: 80px;
    }
}


@media screen and (min-width:1024px) {
    .login .card, .register .card {
    transform: none;
}

}