/* DARK MODE */
.sectionWe.dark{
   
background-color: rgb(61, 56, 56);
}
.sectionWe a.dark{color: white;border-bottom: 2px solid;}


/* DARK MODE END */

.containerWe {
    font-family: "Poppins";
    font-size: 0.7rem;
}
#Terminos,#Locales,#Privacidad{
    padding-top: 100px;
    font-size: 1.5rem;
    display: list-item;
    list-style: square;
    margin-left: 18px;
}
.we {
    color: pink;
    font-size: 1.2rem;
    text-align: center;
}
.sectionWe{
    position: sticky;
    background: white;
    top: -1px;
    padding: 10px 5px 10px 5px;
    width: 100%;
    height: 100px;
    border-bottom: 3px solid var(--fondo-claro);
}
.containerGeneralWe{
    padding: 20px;
}
 .navWe{
    display: flex;
    font-size: 100%;
    text-align: center;
    justify-content: space-around;
}
.sectionWe .navWe li a:hover {
    text-decoration: underline;
    color: lightblue;
}

@media screen and (min-width: 768px) {
    .containerWe {
        font-size: 1.2rem;
    }

    .we {
        font-size: 2rem;
        padding: 9px;
    }
    .navWe{
        
font-size: 1.5rem;
    }    
}

@media screen and (min-width: 1024px) {
    .containerWe {
        padding: 70px;
        font-size: 1rem;
    }
}
