.container-cart {
    box-shadow: 0 0 10px var(--bordes);
    width: 100%;
}

.container-cart .banner {
    width: 100%;
}

.container-cart .section1 {
    padding-top: 3px;
}

.container-cart .section1 .product img {
    width: 100%;
}

.container-cart .section1 .product h5 {
    font-family: var(--poppins);
    font-size: 20px;
}

.container-cart .section1 .product p {
    font-family: var(--poppins);
    font-size: 20px;
}

.container-cart .section1 .iconOutline {
    width: 22px;
    height: 22px;
    background-color: white;
    border: 1px solid var(--bordes_claro);
    border-radius: 30%;
    position: absolute;
    top: 960px;
    right: 35px;
}

.container-cart .description {
    width: 100%;
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas:
        "precio cantidad subPrecio"
        "linea linea linea"
        "valorPrecio valorCantidad valorSubPrecio";
    text-align: center;
}

.container-cart .descriptionProduct {
    text-align: left;
    padding-left: 10px;
}

.container-cart .description .price {
    grid-area: precio;
}

.container-cart .description .valuePrice {
    grid-area: valorPrecio;
}

.container-cart .description .count {
    grid-area: cantidad;
}

.container-cart .description .linea {
    grid-area: linea;
    width: 80%;
    height: 3px;
    background-color: var(--bordes_claro);
    margin: auto;
}

.container-cart .description .valueCount {
    grid-area: valorCantidad;
    width: 25px;
    margin: auto;
}

.container-cart .description .subPrice {
    grid-area: subPrecio;
}

.container-cart .description .valueSubPrice {
    grid-area: valorSubPrecio;
}

.container-cart .buttonsIcons {
    width: 100%;
    height: fit-content;
    justify-items: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.container-cart .buttonsIcons .iconHeart {
    width: 22px;
    height: 22px;
    background-color: white;
    border: 1px solid var(--bordes_claro);
    border-radius: 30%;
}

.container-cart .buttonsIcons .iconArrow {
    width: 22px;
    height: 22px;
    background-color: white;
    border: 1px solid var(--bordes_claro);
    border-radius: 30%;
}

.container-cart .buttonsIcons .iconSync {
    width: 22px;
    height: 22px;
    background-color: white;
    border: 1px solid var(--bordes_claro);
    border-radius: 30%;
}

.container-cart .buy {
    background-color: rgba(144, 238, 144, 0.822);
    border: 1px solid green;
    border-radius: 10%;
}

.container-cart .sectionAdd p {
    font-family: var(--yesteryear);
    font-size: 22px;
    text-align: center;
    padding-top: 15px;
}

.container-cart .sectionAdd img {
    width: 100%;
    padding-top: 20px;
}

.container-cart .section3 p {
    font-family: var(--yesteryear);
    font-size: 25px;
    text-align: center;
}

.container-cart .section3 img {
    width: 100%;
    padding-top: 15px;
}

@media screen and (min-width: 768px) {
    .container-cart .section1 {
        padding-top: 15px;
    }

    .container-cart .section1 .product {
        display: grid;
        margin: auto;
        border: 1px solid var(--bordes_claro);
        box-shadow: 0 0 8px var(--bordes);
        grid: 1fr / 1fr 1fr;
        grid-template-areas:
            "img dP"
            "img d";
    }

    .container-cart .section1 .iconOutline {
        top: 970px;
    }

    .container-cart .section1 .product img {
        grid-area: img;
        width: 50%;
        margin: auto;
    }

    .container-cart .section1 .product .descriptionProduct {
        grid-area: dP;
    }

    .container-cart .section1 .product .description {
        grid-area: d;
    }

    .container-cart .buttonsIcons {
        padding: 15px;
    }

    .container-cart .sectionAdd .question {
        font-size: 40px;
    }

    .container-cart .sectionAdd .questionImg {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .container-cart .section3 p {
        font-size: 40px;
        padding: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .container-cart .sectionAdd .questionImg {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
    }
}
