
.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
}

/* The grid: Four equal columns that floats next to each other */
.details-products .column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.details-products .column img {
    opacity: 0.6;
    cursor: pointer;
    border-radius: 10px;
    object-fit: cover;
}

.details-products .column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.details-products.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.details-products .containerImage {
    position: relative;
    display: none;
    width: 80%;
    height: 100vw;
    /* left: 10%; */
    /* top: 0; */
    margin: auto;
    grid-area: imagenes;
    /* z-index: 2000; */
    /* box-shadow: 4px 4px 100vw 400px grey; */
}

.details-products .start-favorite {
    position: absolute;
    right: 0;
    bottom: -43px;
    font-size: 2rem;
}

/* Closable button inside the expanded image */
.details-products .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
    color: gray;
    text-shadow: 4px 3px 1px black;
    font-weight: bold;
}

/* ////////////////////////// */
/* -------------------------------- */
/* View Mobile of detailProduct    */

.details-products {
    font-family: var(--poppins);
    /* padding: 10px; */
    width: 100%;
    margin: 20px auto;
}

.details-products .product {
    display: block;
    margin: auto;
    position: relative;
}

/* SECTION DETAIL IMAGES  */

.details-products [class^="img"] {
    max-width: 600px;
    max-height: 100%;
    margin: 0 auto 5px;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.details-products .product .description {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.details-products .product .description .name {
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.details-products .product .description .price {
    letter-spacing: 3px;
    font-weight: bold;
    position: relative;
    padding-left: 30px;
    font-size: 1rem;
    text-align: left;
}

.details-products .product .description .price:before {
    content: "$";
}

.details-products .product .description .price:hover:before {
    left: 7px;
    animation: medioGiro 500ms 1;
}

.details-products .product .description .discount {
    letter-spacing: 2px;
    position: relative;
    padding-left: 40px;
    color: green;
    width: 100%;
    font-family: "Slabo 27px";
    text-align: left;
}

.details-products .product .description .discount::before {
    /* content: url("https://api.iconify.design/fa-solid:shipping-fast.svg?color=green&height=24"); */
    position: relative;
    left: -10px;
    top: 5px;
    height: -webkit-fill-available;
    transition: transform 1s ease;
}

.details-products .product .description .discount:hover::before {
    padding-right: 5px;
    animation: medioGiro 500ms 1;
}

/* SECTION FORM 1 */

.details-products .product .form-1 {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.details-products .product .form-1 .subtitle {
    text-shadow: 2px 2px 2px gray;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
    padding: 5px;
    grid-area: title;
    text-align: center;
}

.details-products .product .select {
    outline: none;
    border: none;
    font-size: 1.2rem;
    appearance: none;
    padding: 5px;
    border-radius: 3px;
    border-bottom: 2px solid black;
    display: block;
    width: 100%;
    background-color: white;
}

.details-products .product .select:focus {
    background-color: white;
}
.details-products .product .select:active {
    background-color: white;
}

.details-products .product .select option {
    border: 1px solid var(--bordes);
}

.details-products .product .select:hover {
    background-color: var(--fondo-claro);
}

.details-products .product .btn-add input {
    width: fit-content;
    font-size: 0.9em;
    border: none;
    background: none;
    padding-left: 20px;
}

.details-products .product .form-1 .btn-add {
    border-radius: 18px;
    font-size: 1.2rem;
    background-color: lightgreen;
    box-shadow: inset -4px -4px 6px green;
    border: none;
    transition: transform 200ms ease-in;
    position: relative;
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 5px auto;
}

.details-products .pad {
    padding: 10px;
}

.details-products .product .form-1 .btn-add::before {
    content: url("https://api.iconify.design/icons8:add-shopping-cart.svg?height=30");
    width: fit-content;
    transform: translateY(10%) scale(0.9);
}

.details-products .product .form-1 .btn-add:active {
    transform: scale(1.02);
    background-color: rgb(99, 236, 99);
}

.details-products .product .form-1 .btn-add:hover {
    transform: scale(1.02);
    background-color: rgb(99, 236, 99);
}

.details-products .product .form-1 .subtitle-guie-size a {
    font-weight: bold;
    letter-spacing: 3px;
    color: black;
    /* text-shadow: 2px 2px 2px black; */
    display: inline-block;
    width: 100%;
    /* background: linear-gradient(180deg, black, white); */
    /* transition: background 2s ease, text-shadow 2s ease; */
    background-size: 100% 100%;
    border-radius: 10px;
    /* margin: 3px 0; */
    font-size: 1.3rem;
}

.details-products .product .form-1 .subtitle-guie-size:hover a {
    background-size: 200% 500%;
    /* color: white; */
    /* text-shadow: 2px 2px 2px var(--shadows); */
    text-decoration: underline;
}

/* SECTION FORM 2 */

.details-products .product .form-2 {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

/* SUMA A TU LOOK */
.details-products .add-look-container {
    border-radius: 3px 15px;
    margin: 0 auto;
    gap: 10px;
    max-width: 500px;
    min-width: 320px;
}

.details-products .add-look-container h2 {
    text-align: center;
    border-bottom: 2px solid black;
    font-family: var(--yesteryear);
    font-size: 2.5rem;
    font-weight: lighter;
    text-shadow: 4px 4px 10px var(--bordes);
}

@media screen and (min-width: 768px) {
    .details-products .product .select {
        font-size: 2rem;
    }

    .details-products .product .form-1 .subtitle-guie-size {
        margin: 0 auto;
    }

    .details-products .add-look-container h2 {
        font-size: 5rem;
    }

    .details-products .add-look-container {
        max-width: 900px;
        width: 768px;
        min-width: 768px;
    }

    .details-products .product .form-1 .subtitle {
        font-size: 2rem;
    }

    .details-products .product .description .name {
        font-size: 3rem;
    }
    .details-products .product .description .discount {
        font-size: 2.2rem;
    }
    .details-products .product .description .price {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .details-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px auto;
    }

    .details-products .product {
        /* grid: 127px 176px 91px / 1fr 4fr 0.4fr 1fr; */
        display: grid;
        grid-template-areas:
            "imagenes imagenes descripcion ."
            "imagenes imagenes form1 ."
            "imagenes imagenes form2 .";
        border: none;
    }

    .details-products .containerImage {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 55%;
    }
    .details-products .product .imgs {
        grid-area: imagenes;
        /* align-items: start; */
        /* justify-content: start; */
        /* display: grid; */
        /* grid: repeat(2, 50%) / 1fr 2fr; */
        /* grid-template-areas:
            "img img1"
            "img img1"; */
        /* width: 500px; */
    }

    .details-products .product .description {
        grid-area: descripcion;
        width: 282px;
        margin: auto;
        padding: 20px;
    }

    .details-products .product .description .name {
        font-size: x-large;
    }

    .details-products .product .description .price {
        font-size: x-large;
    }

    .details-products .product .form-1 {
        /* gap: 3%; */
        /* padding: 0; */
        border: none;
        grid-area: form1;
        width: 100%;
        margin: auto;
    }

    .details-products .product .form-1 .subtitle {
        font-size: 1rem;
        padding: 0;
        text-align: center;
        margin: 10px 0;
    }

    .details-products .product .form-1 .subtitle::before {
        bottom: 0;
    }

    .details-products .product .select {
        font-size: 1rem;
    }

    .details-products .product .form-1 .subtitle-guie-size a {
        /* text-shadow: 6px -4px 2px gray; */
        height: auto;
        font-size: 1rem;
        border: none;
        text-transform: uppercase;
        margin: auto;
    }

    .details-products .product .form-1 .subtitle-guie-size a:hover {
        filter: hue-rotate(10deg);
    }

    .details-products .product .form-1 .btn-add {
        height: 30px;
    }

    .details-products .product .form-1 .btn-add::before {
        transform: scale(1);
    }

    .details-products .product .form-1 .subtitle::before {
        left: 50%;
        bottom: -5px;
        top: auto;
    }

    .details-products .product .form-2 {
        /* padding: 10px; */
        border: none;
        grid-area: form2;
        width: 100%;
        margin: auto;
    }

    /* SECCION HIJO DEL CONTENEDOR PRINCIPAL MAIN */

    /* add-look-container */

    .details-products .product .description .discount {
        
font-size: 1.5rem;
    }

    .details-products .add-look-container h2 {
        font-size: 4rem;
        filter: drop-shadow(6px 8px 2px var(--shadows));
        border: none;
    }

    .details-products select.gridColor {
        grid-area: color;
    }
}
