.slick-slide {
    height: 1200px;
    box-shadow: 0 5px 10px var(--bordes_claro);
    padding: 10px;
    margin: 10px;
    border-radius: 5%;
}

.slick-next, .slick-prev {
    width: 40px !important;
    height:40px !important;
    border-radius: 50% !important;
    color: white !important;
    text-shadow: 0px 0px 15px var(--bordes) !important;
}

.slick-next {
    right: 25px !important;
}
.slick-prev {
    left: 25px !important;
}
.slick-next:before, .slick-prev:before {
    color: white !important;
    font-size: 2.5rem !important;
    line-height: 110% !important;
}
.slick-dots {
    position: relative !important;
    bottom: 0 !important;
}

.card-img-top {
    width: 100%;
    height: 320px;
    margin: auto;
    object-fit: cover;
    object-position: top;
}

.card-body {
    padding-top: 15px;
    text-align: center;
}

.nameSlider {
    font-family: 'Poppins';
    font-size: 2.5rem;
    margin: 2px;
    margin: auto;
    border-top: 2px solid lightpink;
}

.card-text {
    font-family: 'Poppins';
    font-size: 110%;
    padding: 2px;
    margin: auto;
}

a.btn-primary {
    color: black;
    background-color: pink;
    padding: 7px;
    margin: 5px;
    border-radius: 10%;
}

.slick-list.draggable {
    max-width: 80%;
    margin: auto;
}

.discount {
    font-size: 1.5rem;
    line-height: 150%;
    color: green;
    animation: acercarAlejar 2s alternate infinite;
}

.priceDiscount {
    font-size: 1.5rem;
    text-decoration: line-through;
}

.priceSlider {
    font-size: 2rem;
    font-weight: bold;
}



@media screen and (min-width: 768px) {

    .slick-slide {
        height: 450px;
        border-radius: 3%;
    }

    .card-text {
        font-size: 1.2rem;
    }

    .slick-list.draggable {
        max-width: 90%;
    }

    .card-slider {
        width: auto;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {

    .slick-list.draggable {
        max-width: 80%;
    }
    
    /* .card-slider {
        width:1500px;
    } */

}
