.slick-slide {
    height: 450px;
    box-shadow: 0 5px 10px var(--bordes_claro);
    padding: 10px;
    margin: 10px;
    border-radius: 5%;
}

.card-img-top {
    width: 80%;
    /* height: 230px; */
    margin: auto;
}

.card-body {
    padding-top: 15px;
}

.card-title {
    font-family: 'Poppins';
    font-size: 130%;
    margin: 2px;
    margin: auto;
}

.card-text {
    font-family: 'Poppins';
    font-size: 1.4rem;
    padding: 5px;
    margin: auto;
}

a.btn-primary {
    color: black;
    background-color: pink;
    padding: 7px;
    margin: 5px;
    border-radius: 10%;
}

.slick-list.draggable {
    max-width: 80%;
    margin: auto;
}

@media screen and (min-width: 768px) {

    .slick-slide {
        width: 284px;
        height: 400px;
        border-radius: 3%;
    }

    .card-title {
    }

    .card-text {
        font-size: 1.2rem;
    }

    .slick-list.draggable {
        max-width: 90%;
    }
}

@media screen and (min-width: 1024px) {

    .slick-list.draggable {
        max-width: 80%;
    }
    
    .card-slider {
        width: 80%;
        margin: auto;
    }

    .card-title {
        /* font-size: 1.5rem; */
    }
}
