:root{
    --fondo:#ffcdd4;
    --fondo-claro:#ffe6e9;
    --bordes:#e57d90;
    --paragraph:#7E7B7A;
    --shadows:#ce687c;
    --bordes_claro:#fdb4bf;

    --poppins:'Poppins', sans-serif;
    --yesteryear:'Yesteryear', cursive;
}