<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        <main>
            <div>
                <form action="" class="login-admin">
                    <div class="image-admin">
                        <img src="/img/admin-photo.png" alt="">
                    </div>
                    <input type="text" name="username" placeholder="Usuario">

                    <input type="password" name="pass" placeholder="Contraseña">

                    <button type="submit">Ingresar</button>
                    <div class="contac-desarrollator">
                        <a href="https://api.whatsapp.com/send?phone=+5491156412335" target="_blank">Desarrollador</a>
                    </div>
                </form>
            </div>
        </main>

    </body>

</html>