<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List products</title>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="css/listProducts.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/android-icon-36x36.png">
</head>

<body>
    <div class="container">
        <section class="section1">
            <span class="iconify" data-icon="mi:filter" data-inline="false"></span>
            <nav class="nav-bar">
                <a href="">FILTRAR</a>
                <ul>
                    <li class="dropdown">COLOR
                        <ul>
                            <li>AZUL</li>
                            <li>NEGRO</li>
                            <li>ROSA</li>
                            <li>LILA</li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="dropdown">TALLE
                        <ul >
                            <li>S</li>
                            <li>M</li>
                            <li>L</li>
                            <li>XL</li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="dropdown">PRECIO
                        <ul>
                            <li>$1000</li>
                            <li>$1100</li>
                            <li>$1200</li>
                            <li>$1300</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </section><br>
        <hr>
        <section class="section2">

            <article class="product">
                <img src="/img/remerones/vintage/remeronPicapiedras.jpg" alt="">
                <h3>Remerón personajes Vintage</h3><br>
                <h3>$1200</h3><br>
                <p>20% Descuento</p>
            </article>

            <article class="product">
                <img src="/img/remerones/new/remeronBobEsponja.jpg" alt="">
                <h3>Remerón personajes New</h3><br>
                <h3>$1200</h3><br>
                <p>20% Descuento</p>
            </article>

            <article class="product">
                <img src="/img/remerones/nature/remeronGetALife.jpg" alt="">
                <h3>Remerón personajes Nature</h3><br>
                <h3>$1200</h3><br>
                <p>20% Descuento</p>
            </article>
        </section>
    </div>
</body>

</html>