.input--style {
    /* estilos de los imputs */
    outline      : none;
    border-radius: 3px;
    border       : 1px solid var(--bordes);
    transition   : box-shadow 0.5s ease-in;
    padding-left : 5px;
    font-size    : 18px;
}

.input--style:hover {
    box-shadow  : 0 0 15px var(--shadows);
    border-color: var(--bordes_claro);
    cursor      : text;
}

.input--style:focus {
    outline   : none;
    border    : none;
    box-shadow: 4px 4px 10px var(--shadows);
}

.button {
    cursor:pointer;
    border            : thin solid var(--bordes);
    text-align        : center;
    width             : max-content;
    padding           : 5px 10px;
    border-radius     : 10px;
    background-color  : var(--fondo);
    color             : black;
    box-shadow        : 0 0 40px 40px var(--fondo) inset;
    -webkit-transition: background-color,transform 1s ease-in-out;
    transition        : background-color,transform 1s ease-in-out;
    outline: none;
    font-weight: 500;
}

.button:hover {
    transform: scale(1.3);
    color           : black;
    background-color:var(--fondo-claro);
    box-shadow      : 0 0 10px 0 white inset, 0 0 10px 4px var(--fondo);
}


