.container {
    box-shadow: 0 0 10px var(--bordes);
}

.section1 .iconify {
    width: 22px;
    height: 22px;
    background-color: white;
    border: 1px solid var(--bordes_claro);
    border-radius: 30%;
    position: absolute;
    left: 19px;
    top: 16px;
}

hr {
    display: none;
}

.container .section1 .nav-bar {
    display: none;
}

.section2 {
    padding: 20px 35px;
    display: grid;
    grid-column: span 1;
}

.section2 .product {
    width: 230px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid var(--bordes_claro);
    box-shadow: 0 0 8px var(--bordes);
}

.section2 .product img {
    max-width: 15rem;
    width: 100%;
}

.section2 .product h3 {
    font-size: 1.8rem;
    font-weight: 350;
}

.section2 .product p {
    font-size: 1.2rem;
    line-height: 150%;
    color: green;
    animation: acercarAlejar 2s alternate infinite;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .section1 .iconify {
        display: none;
    }

    .nav-bar {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        " filtrar . . . color  . talle . precio . ";
    }

    a {
        padding-top: 10px;
        grid-area: filtrar;
    }

    li {
        grid-area: color;
    }

    li {
        grid-area: talle;
    }

    li {
        grid-area: precio;
    }
    
    hr {
        display: block;
        border: 1px solid var(--bordes_claro);
    }

    .container .section1 .nav-bar {
        padding-top: 17px;
        display: grid;
        position: relative;
    }

    .container .section1 .dropdown:hover {
        border-bottom: 2px solid pink;
    }

    .container .section1 ul .dropdown ul li {
        display: none;
        position: relative;
    }

    li {
        padding: 10px;
        transition: all 0.6s ease-in-out;
    }
    
    li:hover {
        box-shadow: 0px 5px 15px rgba(var(--bordes_claro) 0.795);
        border-radius: 0 20px 20px 0;
    }

    .section2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .section2 .product {
        width: 285px;
        height: 545px;
        text-align: center;
        justify-self: center;
        border: 1px solid var(--bordes_claro);
        box-shadow: 0 0 8px var(--bordes);
    }

    .section2 .product img {
        max-width: 18rem;
        width: 100%;
    }

    .section2 .product h3 {
        font-size: 1rem;
        font-weight: 250;
    }
    
    .section2 .product p {
        font-size: 0.8rem;
        line-height: 150%;
        color: green;
        animation: acercarAlejar 2s alternate infinite;
    }

    @media screen and (min-width: 1024px) {
        .container {
            max-width: 1024px;
        }

        .section2 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    
        .section2 .product {
            width: 285px;
            height: 545px;
    }

    }

}