<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/header.ejs') %> 
    <main class="admin">
        <h2>Productos</h2>
        <div class="container">

            <form action="" method="GET" class="inputRows">

                <input type="number" name="id" id="id" placeholder="ID">

                <input type="text" name="codigo" id="code" placeholder="C贸digo">


                <input type="text" name="descripcion" id="description" placeholder="Descripci贸n">


                <input type="text" name="precioCompra" id="priceC" placeholder="Precio Compra">


                <input type="text" name="precioVenta" id="priceV" placeholder="Precio Venta">


                <input type="text" name="color" id="color" placeholder="Color">


                <select name="talle" id="size">
                    <option selected>Talle</option>
                </select>

                <input type="number" name="cantidad" id="stock" placeholder="Cantidad">

                <div class="input">
                    <label for="file-upload" class="subir">
                        <i class="fas fa-cloud-upload-alt"></i> Subir imagenes
                    </label>
                    <div id="info"></div>

                    <input id="file-upload" onchange='cambiar()' type="file" style='display: none;' />
                </div>

                <button type="submit"><span class="iconify" data-icon="fluent:add-12-filled"></span></button>

            </form>
            <div class="table-container">

                <table>
                    <tr>
                        <th>ID</th>
                        <th>C贸digo</th>
                        <th>Descripci贸n</th>
                        <th>Precio</th>
                        <th>Color</th>
                        <th>Talle</th>
                        <th>Cantidad</th>
                        <th>Imagen</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>123</td>
                        <td>remera 41</td>
                        <td>1500</td>
                        <td>rojo</td>
                        <td>X</td>
                        <td>20</td>
                        <td><img class="img-value" src="/img/remeras/remeraSmile.jpg" alt=""></td>
                        <td><button type="submit"><span class="iconify" data-icon="line-md:edit"></span></button></td>
                        <td><button type="submit"><span class="iconify" data-icon="feather:delete"></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>1295</td>
                        <td>remera estampada</td>
                        <td>1500</td>
                        <td>rojo</td>
                        <td>X</td>
                        <td>20</td>
                        <td><img class="img-value" src="/img/remeras/remeraSmile.jpg" alt=""></td>
                        <td><button type="submit"><span class="iconify" data-icon="line-md:edit"></span></button></td>
                        <td><button type="submit"><span class="iconify" data-icon="feather:delete"></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>145</td>
                        <td>remera estampada</td>
                        <td>6200</td>
                        <td>rojo</td>
                        <td>X</td>
                        <td>20</td>
                        <td><img class="img-value" src="/img/remeras/remeraSmile.jpg" alt=""></td>
                        <td><button type="submit"><span class="iconify" data-icon="line-md:edit"></span></button></td>
                        <td><button type="submit"><span class="iconify" data-icon="feather:delete"></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td>98</td>
                        <td>13</td>
                        <td>remera estampada</td>
                        <td>1500</td>
                        <td>rojo</td>
                        <td>X</td>
                        <td>20</td>
                        <td><img class="img-value" src="/img/remeras/remeraSmile.jpg" alt=""></td>
                        <td><button type="submit"><span class="iconify" data-icon="line-md:edit"></span></button></td>
                        <td><button type="submit"><span class="iconify" data-icon="feather:delete"></span></button>
                        </td>
                    </tr>
                </table>
            </div>


        </div>
        </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %> 

</body>

</html>