<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/header.ejs') %> 
    <main class="admin">
        <h2>Productos</h2>
        <div class="container">

            <form action="" method="GET" class="inputRows">

                <input type="number" name="id" id="id" placeholder="ID" required>

                <input type="text" name="codigo" id="code" placeholder="C贸digo" required>


                <input type="text" name="descripcion" id="description" placeholder="Descripci贸n" required>


                <input type="number" name="descuento" id="discount" placeholder="Descuento %">


                <input type="number" name="precioVenta" id="priceV" placeholder="Precio" required>


                <select type="text" name="color" id="color" placeholder="Color" required>
                    <option value="" selected hidden>Color</option>
                    <option value="verde">verde</option>
                    <option value="verdeClaro">verde claro</option>
                    <option value="azul">azul</option>
                    <option value="marron">marron</option>
                    <option value="marronClaro">marron claro</option>
                    <option value="gris">gris</option>
                    <option value="negro">negro</option>
                    <option value="blanco">blanco</option>
                    <option value="amarillo">amarillo</option>
                    <option value="rosa">rosa</option>
                </select>


                <select name="talle" id="size" required>
                    <option selected hidden>Talle</option>
                    <option value="s">S</option>
                    <option value="m">M</option>
                    <option value="l">L</option>
                    <option value="xl">XL</option>
                    <option value="xxl">XXL</option>
                </select>

                <input type="number" name="cantidad" id="stock" placeholder="Cantidad" required>

                <div class="input">
                    <label for="file-upload" class="subir">
                        <i class="fas fa-cloud-upload-alt"></i> Subir imagenes
                    </label>
                    <div id="info"></div>

                    <input id="file-upload" onchange='cambiar()' accept=".png, .jpg" type="file" style='display: none;' required multiple>
                </div>

                <button type="submit" class="btn-add"><span class="iconify" data-icon="fluent:add-12-filled"></span></button>
                <button type="reset" class="btn-reset"><span class="iconify" data-icon="whh:broom"></span></button>


            </form>
            <div class="table-container">

                <table>
                    <tr>
                        <th>ID</th>
                        <th>C贸digo</th>
                        <th>Descripci贸n</th>
                        <th>Precio</th>
                        <th>Color</th>
                        <th>Talle</th>
                        <th>Cantidad</th>
                        <th>Imagen</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>123</td>
                        <td>remera 41</td>
                        <td>1500</td>
                        <td>rojo</td>
                        <td>X</td>
                        <td>20</td>
                        <td><img class="img-value" src="/img/remeras/remeraSmile.jpg" alt=""></td>
                        <td><button class="edit" type="submit"><span class="iconify" data-icon="line-md:edit"></span></button></td>
                        <td><button class="delete" type="submit"><span class="iconify" data-icon="feather:delete"></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>1295</td>
                        <td>remera estampada</td>
                        <td>1500</td>
                        <td>rojo</td>
                        <td>X</td>
                        <td>20</td>
                        <td><img class="img-value" src="/img/remeras/remeraSmile.jpg" alt=""></td>
                        <td><button class="edit" type="submit"><span class="iconify" data-icon="line-md:edit"></span></button></td>
                        <td><button class="delete" type="submit"><span class="iconify" data-icon="feather:delete"></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>145</td>
                        <td>remera estampada</td>
                        <td>6200</td>
                        <td>rojo</td>
                        <td>X</td>
                        <td>20</td>
                        <td><img class="img-value" src="/img/remeras/remeraSmile.jpg" alt=""></td>
                        <td><button class="edit" type="submit"><span class="iconify" data-icon="line-md:edit"></span></button></td>
                        <td><button class="delete" type="submit"><span class="iconify" data-icon="feather:delete"></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td>98</td>
                        <td>13</td>
                        <td>remera estampada</td>
                        <td>1500</td>
                        <td>rojo</td>
                        <td>X</td>
                        <td>20</td>
                        <td><img class="img-value" src="/img/remeras/remeraSmile.jpg" alt=""></td>
                        <td><button class="edit" type="submit"><span class="iconify" data-icon="line-md:edit"></span></button></td>
                        <td><button class="delete" type="submit"><span class="iconify" data-icon="feather:delete"></span></button>
                        </td>
                    </tr>
                </table>
            </div>


        </div>
        </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %> 

</body>

</html>