<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %> 

<body>
    
    <%- include('./partials/header.ejs') %> 
    
    <main class="details-products">
        <section class="product">
            
            
            <!-- Imagenes del producto -->
            <figure class="imgs">
                <div class="img-1">
                    <img src="/img/photos/1.jpg" alt="">
                </div>
                <div class="img-2">
                    <img src="/img/photos/1.jpg" alt="">
                </div>
                <div class="img-3">
                    <img src="/img/photos/1.jpg" alt="">
                </div>
            </figure>

            <!-- detalle del producto -->
            <div class="description">
                <p class="name">Remera dibujo XFR</p>
                <p class="price">1500</p>
                <p class="discount">25% descuento</p>
            </div>

            <!-- filtro de producto -->
            <form class="form-1" action="#" name="formulario-1">
                <h4 class="subtitle">Descripción del producto</h4>
                <select class="select select-style" name="color" id="">
                    <option value="" selected>Color</option>
                    <option value="">Negro</option>
                    <option value="">Marron</option>
                    <option value="">Azul</option>
                    <option value="">Naranja</option>
                    <option value="">Blanco</option>
                </select>
                <select class="select select-style" name="talle" id="">
                    <option value="" selected>Talles</option>
                    <option value="">1 al 10</option>
                    <option value="">10 al 15</option>
                    <option value="">15 al 20</option>
                    <option value="">20 al 25</option>
                    <option value="">30</option>
                </select>
                <div class="btn-add">
                    <input type="submit" value="Agregar al carrito">
                </div>
                <h4 class="subtitle-guie-size"><a href="#img-guie">Guia de talles</a></h4>
            </form>
            <!--  -->
            <form class="form-2" action="#" name="formulario-2">

                <select class="select" name="sends" id="">
                    <option value="" select>Envíos</option>
                    <option value="correo">Correo</option>
                    <option value="retiro-sucursal">Retiro sucursal</option>
                    <option value="correo-express">Correo express</option>
                </select>
                <select class="select" name="pay" id="">
                    <option value="" selected>Medios de pago</option>
                    <option value="deb">Débito</option>
                    <option value="credit">Crédito</option>
                    <option value="transfer">Transferencia</option>
                    <option value="paid-market">Mercado pago</option>
                </select>
                <select class="select" name="changes" id="">
                    <option value="" selected>Cambios y devoluciones</option>
                    <option value="X">Fallado</option>
                    <option value="Y">No es lo que esperaba</option>
                    <option value="Z">Talle equivocado</option>
                    <option value="A">...</option>
                </select>

            </form>
        </section>
        <section class="add-look-container">
            <h2><a href="/list">Sumá a tu look</a></h2>
            <div class="arts-container arts-container-tablet">
                <a href="/detail" class="art1 look-art-hover">
                    <img src="/img/photos/2.jpg" alt="">
                    <div class="info-card">
                        <p>Remera X</p>
                        <p>$1.500</p>
                    </div>
                </a>
                <a href="/detail" class="art2 look-art-hover">
                    <img src="/img/photos/5.jpg" alt="">
                    <div class="info-card">
                        <p>Remera X</p>
                        <p>$1.500</p>
                    </div>
                </a>
                <a href="/detail" class="art3 look-art-hover">
                    <img src="/img/photos/1.jpg" alt="">
                    <div class="info-card">
                        <p>Remera X</p>
                        <p>$1.500</p>
                    </div>
                </a>
                <a href="/detail" class="art4 look-art-hover">
                    <img src="/img/photos/5.jpg" alt="">
                    <div class="info-card">
                        <p>Remera X</p>
                        <p>$1.500</p>
                    </div>
                </a>
            </div>
        </section>
    </main>
    <%- include('./partials/whatsapp.ejs') %> 
    <%- include('./partials/footer.ejs') %> 
    

    

</body>

</html>