<div class="loveLookBot">
<style>
    df-messenger {
     --df-messenger-bot-message: pink;
     --df-messenger-button-titlebar-color: pink;
     --df-messenger-chat-background-color: #fafafa;
     --df-messenger-font-color: white;
     --df-messenger-send-icon: #878fac;
     --df-messenger-user-message: #479b3d;
     --df-messenger-bot-message-width: 1000;
     --df-messenger-send-icon-width: 1000
    }
   

  </style>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger 
  chat-title="Love Look ♡"
  chat-icon="/img/chatbot.png"
  intent="WELCOME"
  wait-open
  agent-id="9972a705-2eff-48a1-9ca7-b18c8a5df99e"
  language-code="es"
></df-messenger>
</div>
