<footer class="footer">

    <!-- SECCIONES FOOTER MOBILE Y TABLET -->

    <section class="help footer-sections">
        <h3 class="footer-subtitle" onclick="openHelp()">AYUDA<span class="iconify icon"
                data-icon="cil:caret-bottom" data-inline="false"></span></h3>
        <ul id="list-help">
            <li class="enlace-hover"><a href="/ayuda">Preguntas Frecuentes</a></li>
            <li class="enlace-hover"><a href="/ayuda">Métodos de envio</a></li>
            <li class="enlace-hover"><a href="/ayuda">Promociones Vigentes</a></li>
            <li class="enlace-hover"><a href="https://www.correoargentino.com.ar/formularios/mercadolibre#numero"
                    target="_black">Seguimiento de Envios</a></li>
        </ul>
    </section>

    <!-- SECCION FOOTER DESKTOP -->

    <section class="help footer-sections-desktop">
        <h3 class="footer-subtitle">AYUDA<span class="iconify icon" data-icon="cil:caret-bottom"
                data-inline="false"></span></h3>
        <ul id="list-help">
            <li class="enlace-hover"><a href="/ayuda">Preguntas Frecuentes</a></li>
            <li class="enlace-hover"><a href="/ayuda">Métodos de envio</a></li>
            <li class="enlace-hover"><a href="/ayuda">Promociones Vigentes</a></li>
            <li class="enlace-hover"><a href="https://www.correoargentino.com.ar/formularios/mercadolibre#numero"
                    target="_black">Seguimiento de Envios</a></li>
        </ul>
    </section>

    <!-- SECCIONES FOOTER MOBILE Y TABLET -->

    <section class="contact footer-sections">
        <h3 class="footer-subtitle" onclick="openContact()">CONTACTO <span class="iconify icon"
                data-icon="cil:caret-bottom" data-inline="false"></span></h3>
        <ul id="list-contact">
            <li class="enlace-hover"><a href="/contacto">Consultas</a></li>
            <li class="enlace-hover"><a href="/contacto">Casting</a></li>
            <li class="enlace-hover"><a href="/contacto">RRHH</a></li>
            <li class="enlace-hover"><a href="/contacto">Franquicias</a></li>
        </ul>
    </section>

    <!-- SECCION FOOTER DESKTOP -->

    <section class="contact footer-sections-desktop">
        <h3 class="footer-subtitle">CONTACTO <span class="iconify icon" data-icon="cil:caret-bottom"
                data-inline="false"></span></h3>
        <ul id="list-contact">
            <li class="enlace-hover"><a href="/contacto">Consultas</a></li>
            <li class="enlace-hover"><a href="/contacto">Casting</a></li>
            <li class="enlace-hover"><a href="/contacto">RRHH</a></li>
            <li class="enlace-hover"><a href="/contacto">Franquicias</a></li>
        </ul>
    </section>

    <!-- SECCIONES FOOTER MOBILE Y TABLET -->

    <section class="about footer-sections">
        <h3 class="footer-subtitle" onclick="openAbout()">NOSOTROS<span class="iconify icon"
                data-icon="cil:caret-bottom" data-inline="false"></span></h3>
        <ul id="list-about">
            <li class="enlace-hover"><a href="/nosotros">Nuestros Locales</a></li>
            <li class="enlace-hover"><a href="/nosotros">Términos y Condiciones</a></li>
            <li class="enlace-hover"><a href="/nosotros">Politicas de Privacidad</a></li>
        </ul>
    </section>

    <!-- SECCION FOOTER DESKTOP -->

    <section class="about footer-sections-desktop">
        <h3 class="footer-subtitle">NOSOTROS<span class="iconify icon" data-icon="cil:caret-bottom"
                data-inline="false"></span></h3>
        <ul id="list-about">
            <li class="enlace-hover"><a href="/nosotros">Nuestros Locales</a></li>
            <li class="enlace-hover"><a href="/nosotros">Términos y Condiciones</a></li>
            <li class="enlace-hover"><a href="/nosotros">Politicas de Privacidad</a></li>
        </ul>
    </section>

    <!-- SECCION REDES PARA TODA LAS VISTAS -->

    <section class="redes-sociales footer-sections footer-sections-desktop">
        <a href=""><span class="iconify instagram" data-icon="akar-icons:instagram-fill"
                data-inline="false"></span></a>
        <a href="https://www.facebook.com/profile.php?id=100064356374086"><span class="iconify facebook" data-icon="ant-design:facebook-filled"
                data-inline="false"></span></a>
    </section>
    <!-- SECCION DE INFO LEGAL PARA TODA LAS VISTAS -->

    <section class="legale">
        <small>&copy 2021. LOVE LOOK. Todos los derechos reservados</small>
    </section>
    <section class="otros">
        <a href="https://www.mcafee.com/es-ar/antivirus.html"><img src="/img/mcfee.png" alt="" class="antivirus"></a>
        <a href="/afip" target="_black"><img src="/img/data-fiscal.jpg" alt="" class="afip"></a>
    </section>
</footer>