<div class="topnav">
  <a href="/">Home</a>
  <a href="/admin/products">Productos</a>
  <a href="/admin/messages">Mensajes</a>
  <a href="#">Usuarios</a>
  <a href="#">Ventas</a>
  <div class="search-container">
    <form action="/admin/products/search" method="GET">
      <input type="text" placeholder="Buscar..." name="keys">
      <button type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</div>