<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>♡ ʆᵒᵛᵉʆᵒᵒᵏ ♡</title>
  
  <!-- STYLESHEETS-->

  <!-- local -->
  <link rel="stylesheet" href="/css/general.css" />
  <!-- CDN SLICK -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
  />
<!-- STYLESHEETS END -->
  <!-- ICONS -->

   <!-- FAVICON -->
   <link
   rel="apple-touch-icon"
   sizes="180x180"
   href="/img/icons/apple-touch-icon.png"
 />
 <link
   rel="icon"
   type="image/png"
   sizes="32x32"
   href="/img/icons/favicon-32x32.png"
 />
 <link
   rel="icon"
   type="image/png"
   sizes="16x16"
   href="/img/icons/favicon-16x16.png"
 />

  <!-- FONT AWESOME -->
  <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  />
  <!-- ICONIFY -->
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

<!-- ICONS END -->

  <!-- SCRIPTS LOCALS-->

<!-- General -->
  <script src="/js/header.js" defer></script>
  <script src="/js/footer.js" defer></script>
  <script src="/js/userDesplegar.js" defer></script>
  <script src="/js/headerListener.js" defer></script>
  
  


 
  <!-- Loading -->
  <script src="/js/load.js"></script>

  <!-- DARK MODE -->
  <script src="/js/darkMode.js" defer></script>

  <!-- Move Page Top -->
  <script src="/js/endPage.js" defer></script>

  <!-- Cart Shipping -->
  <script src="/js/cart.js" defer></script>
  <script src="/js/buy.js" defer></script>
  <script src="/js/order.js" defer></script>
  <script src="/js/favorites.js" defer></script>

  <!-- Library SWEETALERT2-->
  <script src="/js/sweetalert2.js" defer></script>
  
    <!-- SCRIPTS LOCALS END -->
 <!-- TIPPY JS -->
 <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/tippy.js@6/animations/scale.css"
/>
</head>
