

    <div class="topnav">
        <a href="#home">Home</a>
        <a href="#about">Productos</a>
        <a href="#contact">Usuarios</a>
        <a href="#contact">Mensajes</a>
        <a href="#contact">Ventas</a>
        <div class="search-container">
          <form action="/admin/products/search" method="GET">
            <input type="text" placeholder="Buscar..." name="keys">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
