<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ʆᵒᵛᵉʆᵒᵒᵏ</title>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- ICONIFY -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">


    <!-- SCRIPTS -->
    <script src="/js/header.js" defer></script>
    <script src="/js/footer.js" defer></script>
    <script src="/js/slider.js" defer></script>
    <script src="/js/carousel.js" defer></script>
    <script src="/js/inputFile.js" defer></script>
    <script src="/js/selectContact.js" defer></script>
    <script src="/js/productDetail.js" defer></script>
    <script src="/js/perfilUser.js" defer></script>
    <script src="/js/addProduct.js" defer></script>
    <script src="/js/headerListener.js" defer></script>
    <script src="/js/login.js" defer></script>
    <script src="/js/register.js" defer></script>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>