<header class="header">
    <a href="/" class="logo">
        <img src="/img/logo.png" alt="">
    </a>
    <!-- ICONO MENU HAMBURGUESA -->
    <a class="menu icon-size align-icon">
        <!-- <span id="menu-burger" onclick="abrirMenu()" class="iconify " data-icon="icon-park-outline:hamburger-button"
            data-inline="false"></span> -->
            <div class="container" onclick="myFunction(this),abrirMenu()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
              
    </a>

    <!-- NAVEGACION PRINCIPAL -->
    <div class="navbar-mobile" id="N1">
        <ul>
            <li class="btn "><a class="b1" href="/">Inicio</a></li>
            <li class="btn "><a class="b2" href="/">Categorias</a></li>
            <li class="btn "><a class="b3" href="/list">Accesorios</a></li>
            <li class="btn "><a class="b4" href="/list">Oportunidades</a></li>
        </ul>
    </div>
    <!-- ICONO DE LUPA  -->
    <a class="icon-size align-icon lupa" onclick="abrirBuscador()">
        <span class="iconify"  id="search" data-icon="akar-icons:search"
            data-inline="false"></span>
    </a>

    <!-- ICONO DE FAVORITOS (estrella) -->
    <a class="estrella icon-size align-icon" href="/favorites">
        <span class="iconify" data-icon="akar-icons:star" data-inline="false"></span>
    </a>

    <!-- ICONO DE CARRITO DE COMPRA -->
    <a class="carrito align-icon icon-size" href="/cart">
        <span class="iconify " data-icon="emojione-monotone:shopping-cart" data-inline="false"></span>
    </a>

    <!-- ICONO DE USUARIO (circle) -->
    <a href="/login" class="usuario align-icon icon-size">
        <span class="iconify  " data-icon="bi:person-circle" data-inline="false"></span>
    </a>

    <!-- NAVEGACION PRINCIPAL (DESKTOP) -->
    <nav class="navbar" id="subMenu">
        <ul>
            <li class="btn"><a href="/">Inicio</a></li>
            <li class="btn"><a href="/">Categorías</a></li>
            <li class="btn"><a href="/list">Accesorios</a></li>
            <li class="btn"><a href="/list">Oportunidades</a></li>
        </ul>
    </nav>

    <!-- BARRA DE BUSQUEDA -->
    <form action="" class="search-bar" id="search-mobile-tablet">
        <input type="text" class="input-header" name="" id="" placeholder="Buscar...">
        <button type="submit"><span class="iconify iconLupaBar" data-icon="akar-icons:search"
                data-inline="false"></span></button>
    </form>
</header>