<!-- Trigger/Open The Modal -->
<!-- <button id="myBtn">Open Modal</button> -->

<!-- The Modal -->
<!-- <div id="myModal" class="modal"> -->

  <!-- Modal content -->
  <!-- <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div> -->

  <main class="login modal" id="myModal">

    <form action="/index.html" method="POST" class="card modal-content">
        <span class="close">&times;</span>
        <figure class="card__thumbnail">
            <img src="/img/logo.png" alt="" class="card__logo">
        </figure>
        <input class="card__input input--style" type="text" name="email" placeholder="E-mail">
        <span class="validationError email--absolute">Ingresa un email valido</span>
        <input class="card__input input--style" type="password" name="contraseña" id="" placeholder="Contraseña">
        <span class="validationError contraseña--absolute">Contraseña incorrecta</span>
        <a href="#" class="card__enlace">
            <span class="card__text">¿Olvide mi contraseña?</span>
        </a>
        <a class="button button--positionRegister" href="/user/register">Registrarse</a>
        <input type="submit" role="button" value="Ingresar" class="button button--positionIngresar">

        </a>
    </form>

</main>

</div>