  <div class="login modal" id="myModal">

    <form action="/index.html" method="POST" class="card modal-content">
        <span class="close">&times;</span>
        <figure class="card__thumbnail">
            <img src="/img/logo.png" alt="" class="card__logo">
        </figure>
        <input class="card__input input--style" type="text" name="email" placeholder="E-mail">
      
        <input class="card__input input--style" type="password" name="contrase単a" id="" placeholder="Contrase単a">
        
        <div style="display: flex;align-items: center;">
          <input type="checkbox" name="remember" id="remember">
          <label for="remember">Recordarme</label>
        </div>
        <a href="#" class="card__enlace">
            <span class="card__text">多Olvide mi contrase単a?</span>
        </a>
        <a class="button button--positionRegister" id="myBtn3">Registrarse</a>
        <input type="submit" role="button" value="Ingresar" class="button button--positionIngresar">
    </form>

  </div>

</div>