<div class="marqueeShipping">
    <marquee behavior="" direction="" SCROLLAMOUNT=10>
      <span class="marqueeText" style="color: rgba(234, 137, 155, 0.8)">🚛 ENVÍO GRATIS A PARTIR DE $3.499 💵 </span>
      <span class="marqueeText" style="color: rgba(234, 137, 155, 0.8)">PAGÁ EN 3 Y 6 CUOTAS SIN INTERÉS CON VISA, AMEX Y MASTER 💳</span>
      <span class="marqueeText" style="color: rgba(234, 137, 155, 0.8)">🚛 ENVÍO GRATIS A PARTIR DE $3.499 💵 </span>
      <span class="marqueeText" style="color: rgba(234, 137, 155, 0.8)">PAGÁ EN 3 Y 6 CUOTAS SIN INTERÉS CON VISA, AMEX Y MASTER 💳</span>
      <span class="marqueeText" style="color: rgba(234, 137, 155, 0.8)">🚛 ENVÍO GRATIS A PARTIR DE $3.499 💵 </span>
      <span class="marqueeText" style="color: rgba(234, 137, 155, 0.8)">PAGÁ EN 3 Y 6 CUOTAS SIN INTERÉS CON VISA, AMEX Y MASTER 💳</span>
      <span class="marqueeText" style="color: rgba(234, 137, 155, 0.8)">🚛 ENVÍO GRATIS A PARTIR DE $3.499 💵 </span>
      <span class="marqueeText" style="color: rgba(234, 137, 155, 0.8)">PAGÁ EN 3 Y 6 CUOTAS SIN INTERÉS CON VISA, AMEX Y MASTER 💳</span>
    </marquee>
  </div>