<div class="container">
  <div class="col-lg-12">
      <% products.forEach(product=> { %>
      <div class="card w-100">
        <img class="card-img-top" src="/img/photos/remeronLooneyTunes.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <%= product.name %>
          </h5>
          <p class="card-text">$ <%= product.price %>
          </p>
          <a href="#" class="btn-primary">Comprar</a>
        </div>
      </div>
    <% }) %>
  </div>
</div>
