<div class="container"><!--  -->
  <div class="card-slider">
    <% products.forEach(productX=> { %>
      <div class="col-lg-12">
        <div class="card w-100">
          <img class="card-img-top" src="/img/photos/<%= productX.image[0] %>">
          <div class="card-body">
            <h5 class="card-title">
              <%= productX.name %>
            </h5>
            <p class="card-text">$ <%= productX.price %>
            </p>
            <a href="/user/cart" class="btn-primary">Comprar</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>