<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %> 

<body>
    <%- include('../partials/header.ejs') %>
 
    
     <!--Terminos y condiciones-->
     

    <main>
        <div class="containerHelp">
            <div class="sectionHelp">
                <div class="cold-md-2">
                    <p class="help"> AYUDA </p>
                    <ul class="navHelp">
                        <li class="active">
                            <a class="listHelp">
                                Preguntas frecuentes
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Métodos de envío
                            </a>
                        </li>
                        <li>
                            <a href="">Promociones vigentes </a>
                        </li>
                    </ul>
                </div>
            </div>
            
        
            <div class="col-md-9 contentHelp">
                <div class="panel-heading">
                <p class="help">PREGUNTAS FRECUENTES</p>
                <h4 class="titleHelp">
                    <a>¿Cómo comprar?</a>
                </h4>
                <p class="descriptionHelp">Para comenzar recomendamos que te inicies sesión en el sitio. Si no tenés una cuenta, podés crear una fácilmente con mail y contraseña o incluso con tu cuenta de Facebook. En computadoras vas a encontrar el acceso a Inicio de Sesión/Registro en el margen superior derecho de la pantalla. Desde celulares u otros dispositivos móviles, desplegá el menú desde el botón (☰) para visualizar la opción.</p>
                <p class="descriptionHelp">Podés navegar el sitio a través de las distintas categorías en busca de los productos que quieras comprar, o bien utilizar el buscador para encontrar algo específico. En computadoras podés encontrar el buscador en la parte superior derecha de la pantalla, y en dispositivos móviles y celulares en el margen superior izquierdo.</p>
                <p class="descriptionHelp">A medida que encuentres productos de tu interés, podrás ir agregandolos a tu carrito antes de finalizar la compra. Para agregar un producto a tu carrito debés seleccionar primero su variante de color y talle.</p>
                <p class="descriptionHelp">No hay un límite de cantidad de productos para agregar al carrito. Para ver qué producto tenés pre-seleccionados o finalizar tu compra, accedé al ícono de bolsa en la parte superior derecha de tu pantalla. Allí podrás avanzar para finalizar la compra, o ver un detalle de tu carrito.</p>
                <p class="descriptionHelp">Para finalizar tu compra deberás completar 3 pasos:
                    <br>
                    
                    - Método de envío y dirección
                    <br>
                    
                    - Dirección de Facturación (en caso que difiera de la información del punto 1)
                    <br>
                    
                    - Método de Pago
                </p>
                <p class="descriptionHelp">
                    Métodos de Envío: Contamos con 3 opciones de envío:
                    <br>
                    
                    - Envío a Domicilio
                    <br>
                    
                    - Envío a Sucursal de Correo
                </p>
                <p class="descriptionHelp">
                    <br>
                    
                    Dirección de Facturación:
                    <br>
                    
                    - Si la información de facturación es la misma que la de envío, podrás optar por no ingresarla
                    <br>
                </p>
                <p class="descriptionHelp">Cambios y devoluciones:</p>
                <p class="descriptionHelp">Podrá hacer cambios en nuestros locales oficiales de Como Quieres dentro de los 30 días de haber recibido la compra.</p>
                <p class="descriptionHelp">Debido a la fluctuación constante en los stocks disponibles, no se efectúan cambios on line por logística inversa. En caso de requerir el cambio de una prenda adquirida on line, el cliente se puede acercar directamente a los locales habilitados con el artículo en condiciones y el ticket de compra una vez finalizada la cuarentena obligatoria. Como alternativa, podrá comunicarse al 54 9 11 2495 5731 indicando qué artículo no va a conservar y solicitando el retiro del mismo por su domicilio, con días y horarios de su preferencia. Una vez que el artículo llegue a planta, se efectuará el reintegro del dinero a la tarjeta de crédito correspondiente para que el cliente pueda volver a efectuar la compra on line.
                    <br>
                    
                    Método de Pago:
                    <br>
                    
                    Sólo podrás realizar pagos con tarjeta de crédito
                </p>
                <p class="descriptionHelp">En el momento que se acredite tu pago, recibirás un email de confirmación del mismo. También, recibirás un email cada vez que tu pedido cambie de estado en el proceso de Despacho y Logística.</p>
            
            
        
            
                <h4 class="titleHelp">
                    <a href="" class="collapse" aria-expanded="true">
                        ¿Hay cuotas sin interés?
                    </a>
                </h4>
                <p class="descriptionHelp">Contamos con cuotas sin interés todos los días pagando con MercadoPago con tarjetas y bancos seleccionados. Podés consultar si tu banco/tarjeta está adherido en 
                <a href="https://www.mercadopago.com.ar/cuotas">mercadopago.com.ar/cuotas </a>
                </p>
            
        
            
                <h4 class="titleHelp">
                    <a href="" class="collapse" aria-expanded="true">
                        ¿A través de qué medio se realizan los pagos?
                    </a>
                </h4>
                <p class="descriptionHelp">Los pagos que hagas en comoquieres.com.ar se realizan a través de MercadoPago Gateway y MercadoPago Agregador.</p>
            
        
            
                <h4 class="titleHelp">
                    <a href="" class="collapse" aria-expanded="true">
                        ¿Con qué tarjetas puedo pagar?
                    </a>
                </h4>
                <p class="descriptionHelp">Podés realizar tus pagos con las tarjetas aceptadas por MercadoPago. Estas son: Visa, Mastercard, American Express, Tarjeta Banco Patagonia MercadoPago, Tarjeta Naranja, Nativa, Tarjeta Shopping, Cencosud, Diners, Cordobesa, CMR Falabella y Tarjeta Wallmart.
                    <br>
                    También podrás realizar pagos con tarjetas de débito Visa, Mastercard, Maestro y CABAL.
                </p>
           
        
            
                <h4 class="titleHelp">
                    <a href="" class="collapse" aria-expanded="true">
                        ¿Es seguro comprar en lovelook.com.ar?
                    </a>
                </h4>
                <p class="descriptionHelp">Ni tus datos personales, como tampoco el contenido de tu pedido será compartido ni divulgados bajo ningún concepto. Estos datos no serán utilizados para otros fines, más que para el procesamiento de sus pedidos.</p>
            
        
               
                    <h4 class="titleHelp">
                        <a href="" class="collapse" aria-expanded="true">
                            ¿Es seguro ingresar los datos de mi tarjeta de crédito?
                        </a>
                    </h4>
                    <p class="descriptionHelp">Sí, es seguro ingresar los datos de tu tarjeta de crédito. Entendemos que la seguridad de tu información personal es de suma importancia para cada usuario. Cumplimos con el estándar internacional de protección de datos, para que tu información personal y la de tu tarjeta de crédito, esté protegida ante accesos no autorizados.</p>
                
        
                
                        <h4 class="titleHelp">
                            <a href="" class="collapse" aria-expanded="true">
                                ¿Cuál es mi talle?
                            </a>
                        </h4>
                        <p class="descriptionHelp">Podrás consultar los talles de cada prenda en la descripción de cada artículo. También vas a poder encontrar una tabla de talles/equivalencias de cada categoría de prenda.</p>
            </div>
        </div>
        
            <div class="shipping">
                <p class="help">MÉTODOS DE ENVÍO</p>
                <h4>¿Cuál es el costo de envío?</h4>
                <p class="descriptionShipping">El valor de envío dependerá del método de envío que selecciones al momento de finalizar tu compra. Según cada método de envío los valores son:</p>
                <p class="descriptionShipping">- Envio a Domicilio CABA y alrededores $420
                    <br>
                    - Envío a Domicilio GBA y resto del Pais $490
                    <br>
                    - Envío a Sucursal Andreani: $290
                </p>
                <h4>¿Cuál es el tiempo de entrega?</h4>
                <p class="descriptionShipping">Envíos a Sucursal o Domicilio Estándar (CABA): 3 a 6 días hábiles
                    <br>
                    Envíos a Sucursal o Domicilio Estándar (GBA): 3 a 6 días hábiles
                    <br>
                    Envíos a Sucursal o Domicilio Estándar (Interior): 4 a 8 días hábiles
                    <br>
                    Nota: durante eventos de alta demanda para los servicios logísticos (como pueden ser HotSale, CyberMonday, Liquidaciones) estos tiempos pueden verse extendidos.
                </p>
                <h4>¿Puedo hacer el seguimiento de mis compras?</h4>
                <p class="descriptionShipping">Si. Una vez que tu pedido sea despachado recibirás un email con un código de seguimiento de tu paquete en Andreani. Podrás utilizar ese código para saber el estado de tu pedido en todo momento ingresandolo en el siguiente link: 
                    <a href="https://www.correoargentino.com.ar/formularios/e-commerce"> Seguimiento.correoargentino.com.ar/ </a>
                </p>
                <h4>¿Qué pasa si no hay nadie cuando traen mi pedido?</h4>
                <p class="descriptionShipping">Andreani realiza dos (2) visitas por cada domicilio de entrega, por lo que si no hay nadie en el primer intento, volverán a pasar.
                    <br>
                    En caso de no ser exitosa su segunda visita, el pedido quedará guardado en la sucursal Andreani más cercana a tu domicilio durante siete (7) días corridos. Podrás acercarte a retirarlo con Documento de Identidad.
                    <br>
                    Una vez finalizado el plazo de siete (7) días, el pedido regresará a nuestro depósito. Cuando llegue; un representante de atención al cliente se contactará contigo para gestionar el reintegro o el nuevo envio abonando el flete del mismo.
                </p>
                <h4>¿Cómo se realizan las entregas?</h4>
                <p class="descriptionShipping">Las entregas se realizan en bolsas cerradas a través de ANDREANI. Si creés que tu paquete fue abierto/adulterado de alguna manera no lo recibas ni firmes la entrega. Si lo hiciste por favor comunicate con alguno de nuestros canales de atención al cliente.</p>
            </div>
        </div>
        
    </main>
        <%- include('../partials/whatsapp.ejs') %> 

        <%- include('../partials/footer.ejs') %> 

</body>

</html>